# TEST

## COVID-19

In [1]:
import pandas as pd
import numpy as np
import requests
import json
import datetime
from pandas_profiling import ProfileReport

In [2]:
Token= 'kwWGVZlNuVYFUheaHYiAxIsIRYCDEzvl'

In [3]:
#Import COVID dataset:
cov = pd.read_csv('time_series_covid19_confirmed_US.csv')

In [4]:
cov.tail()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,12/3/21,12/4/21,12/5/21,12/6/21,12/7/21,12/8/21,12/9/21,12/10/21,12/11/21,12/12/21
3337,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,5406,5406,5406,5417,5425,5433,5436,5437,5437,5437
3338,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,4069,4069,4069,4073,4076,4080,4084,4091,4091,4091
3339,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3340,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,1856,1856,1856,1858,1858,1858,1860,1863,1863,1863
3341,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,1197,1197,1197,1198,1203,1208,1211,1218,1218,1218

In [5]:
#Groupby states
cov_all_states = cov.groupby('Province_State').sum().reset_index()

In [6]:
#Select only relevant states
cov_state = cov_all_states[cov_all_states['Province_State'].isin(['Massachusetts', 'Connecticut', 'Maine', 'Vermont'])].reset_index(drop=True)

In [7]:
#Drop unnecessary columns and transpose
cov_state2 = cov_state.drop(columns=['UID', 'code3', 'FIPS', 'Lat', 'Long_']).T

In [8]:
# Check NaNs
is_NaN = cov_state2.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = cov_state2[row_has_NaN]
print(rows_with_NaN)

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [9]:
#Replace Headers with first row
new_header = cov_state2.iloc[0] #grab the first row for the header
cov_state2 = cov_state2[1:] #take the data less the header row
cov_state2.columns = new_header #set the header row as the df header

In [10]:
#Reset index 
cov_state2.reset_index(inplace=True)

In [11]:
#Update column names in preparation for merge with weather dataset
cov_state3=cov_state2.rename(columns={'index': 'date','Connecticut': 'CT_conf_cases', 'Maine': 'ME_conf_cases', 'Vermont': 'VT_conf_cases', 'Massachusetts' : 'MA_conf_cases'})

In [12]:
#Remove index axis name
cov_state3.rename_axis('', axis=1, inplace=True)

In [13]:
#Convert date column to Datetime object
cov_state3['date']=pd.to_datetime(cov_state3['date'])

In [14]:
cov_state3.dtypes

date             datetime64[ns]
CT_conf_cases            object
ME_conf_cases            object
MA_conf_cases            object
VT_conf_cases            object
dtype: object

## Weather data

In [15]:
#create empty lists to store CT data
ct_dates_temp = []
ct_dates_prcp = []
ct_temps = []
ct_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&datatypeid=PRCP&limit=1000&stationid=GHCND:USW00014740&startdate=2021-09-12&enddate=2021-12-01', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are average temperature readings
    ct_avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
    #get the date field from all average temperature readings
    ct_dates_temp += [item['date'] for item in ct_avg_temps]
    #get the actual average temperature from all average temperature readings
    ct_temps += [item['value'] for item in ct_avg_temps]
    #get all items in the response which are average precipitation readings
    ct_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average precipitation readings
    ct_dates_prcp += [item['date'] for item in ct_avg_prcp]
    #get the actual average precipitation from all average precipitation readings
    ct_prcp += [item['value'] for item in ct_avg_prcp]

print('done')

working on year 2020
working on year 2021
done

In [16]:
ct_temps

[208,
 236,
 189,
 233,
 212,
 199,
 213,
 199,
 164,
 165,
 203,
 230,
 209,
 162,
 167,
 157,
 182,
 138,
 131,
 116,
 140,
 169,
 152,
 134,
 156,
 148,
 161,
 157,
 147,
 169,
 152,
 153,
 179,
 184,
 199,
 139,
 107,
 107,
 162,
 172,
 167,
 108,
 95,
 104,
 111,
 114,
 102,
 55,
 107,
 151,
 122,
 79,
 67,
 36,
 39,
 29,
 29,
 72,
 87,
 128,
 68,
 127,
 69,
 52,
 58,
 49,
 39,
 121,
 69,
 24,
 57,
 96,
 12,
 4,
 26,
 51,
 21,
 -4,
 9,
 -8,
 35,
 208,
 236,
 189,
 233,
 212,
 199,
 213,
 199,
 164,
 165,
 203,
 230,
 209,
 162,
 167,
 157,
 182,
 138,
 131,
 116,
 140,
 169,
 152,
 134,
 156,
 148,
 161,
 157,
 147,
 169,
 152,
 153,
 179,
 184,
 199,
 139,
 107,
 107,
 162,
 172,
 167,
 108,
 95,
 104,
 111,
 114,
 102,
 55,
 107,
 151,
 122,
 79,
 67,
 36,
 39,
 29,
 29,
 72,
 87,
 128,
 68,
 127,
 69,
 52,
 58,
 49,
 39,
 121,
 69,
 24,
 57,
 96,
 12,
 4,
 26,
 51,
 21,
 -4,
 9,
 -8,
 35]

In [17]:
#Note: avg temp not available for Maine, so will use temp min and temp max instead
me_dates_temp_min = []
me_dates_temp_max = []
me_dates_prcp = []
me_temps_min = []
me_temps_max = []
me_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USW00094626&startdate=2021-09-11&enddate=2021-12-01', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are MIN temp readings
    me_min_temps_item = [item for item in d['results'] if item['datatype']=='TMIN']
    #get the date field from all MIN temperature readings
    me_dates_temp_min += [item['date'] for item in me_min_temps_item]
    #get the actual min temperature from all MIN temperature readings
    me_temps_min += [item['value'] for item in me_min_temps_item]
    #get all items in the response which are MAX temperature readings
    me_max_temp_item = [item for item in d['results'] if item['datatype']=='TMAX']
    #get the date field from all MAX temperature readings
    me_dates_temp_max += [item['date'] for item in me_max_temp_item]
    #get the actual average temperature from all MAX temperature readings
    me_temps_max += [item['value'] for item in me_max_temp_item]
    #get all items in the response which are average PRCP readings
    me_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average PRCP readings
    me_dates_prcp += [item['date'] for item in me_avg_prcp]
    #get the actual average precipitation from all average PRCP readings
    me_prcp += [item['value'] for item in me_avg_prcp]
    
print('done')
print('done')

working on year 2020
working on year 2021
done
done

In [18]:
#Create empty lists to store MA data
#Note: avg temp not available for Massachusetts, so will use temp min and temp max instead
ma_dates_temp_min = []
ma_dates_temp_max = []
ma_dates_prcp = []
ma_temps_min = []
ma_temps_max = []
ma_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00193624&startdate=2021-09-11&enddate=2021-12-01', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are MIN temp readings
    ma_min_temps_item = [item for item in d['results'] if item['datatype']=='TMIN']
    #get the date field from all MIN temperature readings
    ma_dates_temp_min += [item['date'] for item in ma_min_temps_item]
    #get the actual min temperature from all MIN temperature readings
    ma_temps_min += [item['value'] for item in ma_min_temps_item]
    #get all items in the response which are MAX temperature readings
    ma_max_temp_item = [item for item in d['results'] if item['datatype']=='TMAX']
    #get the date field from all MAX temperature readings
    ma_dates_temp_max += [item['date'] for item in ma_max_temp_item]
    #get the actual average temperature from all MAX temperature readings
    ma_temps_max += [item['value'] for item in ma_max_temp_item]
    #get all items in the response which are average PRCP readings
    ma_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average PRCP readings
    ma_dates_prcp += [item['date'] for item in ma_avg_prcp]
    #get the actual average precipitation from all average PRCP readings
    ma_prcp += [item['value'] for item in ma_avg_prcp]
    
print('done')

working on year 2020
working on year 2021
done

In [19]:
ma_prcp

[0,
 0,
 8,
 0,
 0,
 89,
 0,
 10,
 81,
 0,
 0,
 0,
 0,
 3,
 249,
 259,
 0,
 76,
 10,
 3,
 0,
 0,
 0,
 229,
 224,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 221,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 145,
 335,
 409,
 13,
 0,
 239,
 157,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 259,
 46,
 0,
 20,
 0,
 0,
 0,
 84,
 0,
 0,
 76,
 0,
 0,
 0,
 13,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 0,
 0,
 89,
 0,
 10,
 81,
 0,
 0,
 0,
 0,
 3,
 249,
 259,
 0,
 76,
 10,
 3,
 0,
 0,
 0,
 229,
 224,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 221,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 145,
 335,
 409,
 13,
 0,
 239,
 157,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 259,
 46,
 0,
 20,
 0,
 0,
 0,
 84,
 0,
 0,
 76,
 0,
 0,
 0,
 13,
 5,
 0,
 0,
 0,
 0]

In [20]:
#Create empty lists to store VT data
#Note: avg temp not available for Vermont, so will use temp min and temp max instead
vt_dates_temp_min = []
vt_dates_temp_max = []
vt_dates_prcp = []
vt_temps_min = []
vt_temps_max = []
vt_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USW00014742&startdate=2021-09-12&enddate=2021-12-01', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are MIN temp readings
    vt_min_temps_item = [item for item in d['results'] if item['datatype']=='TMIN']
    #get the date field from all MIN temperature readings
    vt_dates_temp_min += [item['date'] for item in vt_min_temps_item]
    #get the actual min temperature from all MIN temperature readings
    vt_temps_min += [item['value'] for item in vt_min_temps_item]
    #get all items in the response which are MAX temperature readings
    vt_max_temp_item = [item for item in d['results'] if item['datatype']=='TMAX']
    #get the date field from all MAX temperature readings
    vt_dates_temp_max += [item['date'] for item in vt_max_temp_item]
    #get the actual average temperature from all MAX temperature readings
    vt_temps_max += [item['value'] for item in vt_max_temp_item]
    #get all items in the response which are average PRCP readings
    vt_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average PRCP readings
    vt_dates_prcp += [item['date'] for item in vt_avg_prcp]
    #get the actual average precipitation from all average PRCP readings
    vt_prcp += [item['value'] for item in vt_avg_prcp]
    
print('done')

working on year 2020
working on year 2021
done

### Connecticut

In [22]:
#Zip dates together with respective values per state:
#convert all date values to datetime objects:

#Connecticut:
df_ct_temps = pd.DataFrame(list(zip(ct_dates_temp, ct_temps)), columns = ['ct_date', 'ct_avg_temp'])
df_ct_temps['ct_date']=pd.to_datetime(df_ct_temps['ct_date'])
df_ct_prcp = pd.DataFrame(list(zip(ct_dates_prcp, ct_prcp)), columns = ['ct_date', 'ct_prcp'])
df_ct_prcp['ct_date']=pd.to_datetime(df_ct_prcp['ct_date'])

In [23]:
df_ct_temps

       ct_date  ct_avg_temp
0   2021-09-12          208
1   2021-09-13          236
2   2021-09-14          189
3   2021-09-15          233
4   2021-09-16          212
..         ...          ...
157 2021-11-27           21
158 2021-11-28           -4
159 2021-11-29            9
160 2021-11-30           -8
161 2021-12-01           35

[162 rows x 2 columns]

In [24]:
df_ct_prcp

       ct_date  ct_prcp
0   2021-09-12        0
1   2021-09-13        0
2   2021-09-14        0
3   2021-09-15        0
4   2021-09-16       10
..         ...      ...
157 2021-11-27        0
158 2021-11-28        0
159 2021-11-29        0
160 2021-11-30        0
161 2021-12-01        0

[162 rows x 2 columns]

In [25]:
ct_df = pd.merge(df_ct_prcp, df_ct_temps, how='left', on='ct_date')

In [29]:
ct_df.drop_duplicates(inplace=True)

In [32]:
DF_ct = ct_df

In [31]:
#Since we already have avg_temp for CT, inner join with prcp:
#DF_ct = pd.merge(df_ct_temps, df_ct_prcp, how='inner')

In [33]:
DF_ct.isna().sum()

ct_date        0
ct_prcp        0
ct_avg_temp    0
dtype: int64

### Maine

In [34]:
#Maine:
df_me_temp_min = pd.DataFrame(list(zip(me_dates_temp_min, me_temps_min)), columns = ['me_date', 'me_temp_min'])
df_me_temp_min['me_date'] = pd.to_datetime(df_me_temp_min['me_date'])
df_me_temp_max = pd.DataFrame(list(zip(me_dates_temp_max, me_temps_max)), columns = ['me_date', 'me_temp_max'])
df_me_temp_max['me_date'] = pd.to_datetime(df_me_temp_max['me_date'])
df_me_prcp = pd.DataFrame(list(zip(me_dates_prcp, me_prcp)), columns = ['me_date', 'me_prcp'])
df_me_prcp['me_date']=pd.to_datetime(df_me_prcp['me_date'])

In [35]:
#Merge min max ME temp dfs to compute avg_temp:
DF_me_temp_both = pd.merge(df_me_temp_max, df_me_temp_min, how = 'inner', on= ['me_date'])

In [36]:
#Create avg_temp column for Maine:
DF_me_temp_both['me_avg_temp'] = (DF_me_temp_both['me_temp_min'] + DF_me_temp_both['me_temp_max']) // 2
#Drop min max temp columns:
DF_me_temp_avg = DF_me_temp_both.drop(columns=['me_temp_max', 'me_temp_min'])

In [37]:
#Merge temp df with prcp df:
DF_me = pd.merge(DF_me_temp_avg, df_me_prcp, how = 'inner', on= ['me_date'])

In [38]:
DF_me =DF_me.drop_duplicates()

In [40]:
#Let's double check that the missing data made it into our Maine DataFrame (we'll just check a small portion):
DF_me.head()

      me_date  me_avg_temp  me_prcp
0  2021-09-11          152        0
8  2021-09-12          175        0
16 2021-09-13          147        0
24 2021-09-14          136        0
32 2021-09-15          150      208

### Vermont

In [41]:
#Vermont:
df_vt_temp_min = pd.DataFrame(list(zip(vt_dates_temp_min, vt_temps_min)), columns = ['vt_date', 'vt_temp_min'])
df_vt_temp_min['vt_date'] = pd.to_datetime(df_vt_temp_min['vt_date'])
df_vt_temp_max = pd.DataFrame(list(zip(vt_dates_temp_max, vt_temps_max)), columns = ['vt_date', 'vt_temp_max'])
df_vt_temp_max['vt_date'] = pd.to_datetime(df_vt_temp_max['vt_date'])
df_vt_prcp = pd.DataFrame(list(zip(vt_dates_prcp, vt_prcp)), columns = ['vt_date', 'vt_prcp'])
df_vt_prcp['vt_date']=pd.to_datetime(df_vt_prcp['vt_date'])

In [42]:
#Merge min max VT temp dfs to compute avg_temp:
DF_vt_temp_both = pd.merge(df_vt_temp_max, df_vt_temp_min, how = 'inner', on= ['vt_date'])

In [43]:
#Create avg_temp column for Vermont:
DF_vt_temp_both['vt_avg_temp'] = (DF_vt_temp_both['vt_temp_min'] + DF_vt_temp_both['vt_temp_max']) // 2
#Drop min max temp columns:
DF_vt_temp_avg = DF_vt_temp_both.drop(columns=['vt_temp_max', 'vt_temp_min'])

In [44]:
#Merge temp df with prcp df:
DF_vt = pd.merge(DF_vt_temp_avg, df_vt_prcp, how = 'inner', on= ['vt_date'])

In [45]:
DF_vt = DF_vt.drop_duplicates()

In [46]:
DF_vt

       vt_date  vt_avg_temp  vt_prcp
0   2021-09-12          208        3
8   2021-09-13          186        0
16  2021-09-14          177        0
24  2021-09-15          211       99
32  2021-09-16          180        0
..         ...          ...      ...
608 2021-11-27          -22        5
616 2021-11-28          -58        0
624 2021-11-29          -49        0
632 2021-11-30          -44        5
640 2021-12-01           -3       18

[81 rows x 3 columns]

### Massachusetts

In [47]:
#Massachusetts
df_ma_temp_min = pd.DataFrame(list(zip(ma_dates_temp_min, ma_temps_min)), columns = ['ma_date', 'ma_temp_min'])
df_ma_temp_min['ma_date'] = pd.to_datetime(df_ma_temp_min['ma_date'])
df_ma_temp_max = pd.DataFrame(list(zip(ma_dates_temp_max, ma_temps_max)), columns = ['ma_date', 'ma_temp_max'])
df_ma_temp_max['ma_date'] = pd.to_datetime(df_ma_temp_max['ma_date'])
df_ma_prcp = pd.DataFrame(list(zip(ma_dates_prcp, ma_prcp)), columns = ['ma_date', 'ma_prcp'])
df_ma_prcp['ma_date']=pd.to_datetime(df_ma_prcp['ma_date'])

In [48]:
#Merge min max MA temp dfs to compute avg_temp:
DF_ma_temp_both = pd.merge(df_ma_temp_max, df_ma_temp_min, how = 'inner', on= ['ma_date'])

In [49]:
#Create avg_temp column for Massachusetts:
DF_ma_temp_both['ma_avg_temp'] = (DF_ma_temp_both['ma_temp_min'] + DF_ma_temp_both['ma_temp_max']) // 2
#Drop min max temp columns:
DF_ma_temp_avg = DF_ma_temp_both.drop(columns=['ma_temp_max', 'ma_temp_min'])

In [50]:
#Merge MA temp df with MA prcp df:
DF_ma = pd.merge(DF_ma_temp_avg, df_ma_prcp, how = 'inner', on= ['ma_date'])

In [51]:
DF_ma = DF_ma.drop_duplicates()

In [52]:
DF_ma

       ma_date  ma_avg_temp  ma_prcp
0   2021-09-11          178        0
8   2021-09-12          219        0
16  2021-09-13          222        8
24  2021-09-14          186        0
32  2021-09-15          238        0
..         ...          ...      ...
608 2021-11-27           19        5
616 2021-11-28            3        0
624 2021-11-29            3        0
632 2021-11-30           -6        0
640 2021-12-01           28        0

[81 rows x 3 columns]

### Weather merge to one dataframe

In [53]:
#Merge states to same df:
df_vt_me = pd.merge(DF_vt, DF_me, how = 'left', left_on= ['vt_date'], right_on= ['me_date'])
df_vt_me_ct= pd.merge(df_vt_me, DF_ct, how = 'left', left_on= ['vt_date'], right_on= ['ct_date'])
df_weather = pd.merge(df_vt_me_ct, DF_ma, how = 'left', left_on= ['vt_date'], right_on= ['ma_date'])

In [54]:
#Drop replicate 'date' columns:
df_weather2 = df_weather.drop(columns=['me_date', 'ct_date', 'ma_date'])
df_weather2

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_prcp,ct_avg_temp,ma_avg_temp,ma_prcp
0,2021-09-12,208,3,175,0,0,208,219.0,0.0
1,2021-09-13,186,0,147,0,0,236,222.0,8.0
2,2021-09-14,177,0,136,0,0,189,186.0,0.0
3,2021-09-15,211,99,150,208,0,233,238.0,0.0
4,2021-09-16,180,0,156,0,10,212,205.0,89.0
...,...,...,...,...,...,...,...,...,...
76,2021-11-27,-22,5,-33,36,0,21,19.0,5.0
77,2021-11-28,-58,0,-58,0,0,-4,3.0,0.0
78,2021-11-29,-49,0,-52,0,0,9,3.0,0.0
79,2021-11-30,-44,5,-60,0,0,-8,-6.0,0.0
80,2021-12-01,-3,18,-41,0,0,35,28.0,0.0

In [55]:
#Check for MA NaNs first, since MA has the most:
df_weather2.isna().sum()

vt_date        0
vt_avg_temp    0
vt_prcp        0
me_avg_temp    0
me_prcp        0
ct_prcp        0
ct_avg_temp    0
ma_avg_temp    1
ma_prcp        1
dtype: int64

In [56]:
#Check for MA NaNs first, since MA has the most:
df_weather2[df_weather2['ma_avg_temp'].isna()]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_prcp,ct_avg_temp,ma_avg_temp,ma_prcp
51,2021-11-02,64,13,47,0,0,79,NaN,NaN

In [57]:
#For MA, we need 2021-09-11:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00194744&startdate=2021-11-02&enddate=2021-11-02', headers={'token':Token})
d = json.loads(r.text)
print(d)

{'metadata': {'resultset': {'offset': 1, 'count': 3, 'limit': 1000}}, 'results': [{'date': '2021-11-02T00:00:00', 'datatype': 'PRCP', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 0}, {'date': '2021-11-02T00:00:00', 'datatype': 'TMAX', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 139}, {'date': '2021-11-02T00:00:00', 'datatype': 'TMIN', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 0}]}

In [58]:
df_weather3= df_weather2.copy()

In [64]:
df_weather3.iloc[51, 7]

nan

In [65]:
#Calculate TAVG:
ma_1102_tavg = (139 + 0)/2
#replace nan values from 2021-11-02
df_weather3.iloc[51,7] = ma_1102_tavg
df_weather3.iloc[51,8] = 0

In [66]:
df_weather3.isna().sum()

vt_date        0
vt_avg_temp    0
vt_prcp        0
me_avg_temp    0
me_prcp        0
ct_prcp        0
ct_avg_temp    0
ma_avg_temp    0
ma_prcp        0
dtype: int64

### Merge all together

In [67]:
#Rename weather date column in preparation for merge
df_weather3=df_weather3.rename(columns={'vt_date':'date'})

In [75]:
df_weather3.isna().sum()

date           0
vt_avg_temp    0
vt_prcp        0
me_avg_temp    0
me_prcp        0
ct_prcp        0
ct_avg_temp    0
ma_avg_temp    0
ma_prcp        0
dtype: int64

In [68]:
weather2 = df_weather3.copy()

In [76]:
weather2.isna().sum()

date           0
vt_avg_temp    0
vt_prcp        0
me_avg_temp    0
me_prcp        0
ct_prcp        0
ct_avg_temp    0
ma_avg_temp    0
ma_prcp        0
dtype: int64

In [69]:
cov2 = cov_state3.copy()

In [77]:
cov_weather = pd.merge(weather2, cov2, how = 'inner', on= 'date')

In [78]:
cov_weather2 = cov_weather.reset_index(drop=True)

In [79]:
cov_weather2

,date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_prcp,ct_avg_temp,ma_avg_temp,ma_prcp,CT_conf_cases,ME_conf_cases,MA_conf_cases,VT_conf_cases
0,2021-09-12,208,3,175,0,0,208,219.0,0.0,378933,80513,777022,30114
1,2021-09-13,186,0,147,0,0,236,222.0,8.0,380281,80513,782107,30264
2,2021-09-14,177,0,136,0,0,189,186.0,0.0,381331,81177,783750,30376
3,2021-09-15,211,99,150,208,0,233,238.0,0.0,381732,81955,786627,30584
4,2021-09-16,180,0,156,0,10,212,205.0,89.0,382798,82607,788775,30922
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,2021-11-27,-22,5,-33,36,0,21,19.0,5.0,418473,118489,909705,48120
77,2021-11-28,-58,0,-58,0,0,-4,3.0,0.0,418473,118489,909705,48120
78,2021-11-29,-49,0,-52,0,0,9,3.0,0.0,420785,118748,915495,49801
79,2021-11-30,-44,5,-60,0,0,-8,-6.0,0.0,421692,119662,919097,50014
80,2021-12-01,-3,18,-41,0,0,35,28.0,0.0,422785,120600,924400,50510

In [80]:
#Any remaining missing values?
cov_weather2.isna().sum()

date             0
vt_avg_temp      0
vt_prcp          0
me_avg_temp      0
me_prcp          0
ct_prcp          0
ct_avg_temp      0
ma_avg_temp      0
ma_prcp          0
CT_conf_cases    0
ME_conf_cases    0
MA_conf_cases    0
VT_conf_cases    0
dtype: int64

In [81]:
cov_weather2[pd.isnull(cov_weather2).any(axis=1)]

Empty DataFrame
Columns: [date, vt_avg_temp, vt_prcp, me_avg_temp, me_prcp, ct_prcp, ct_avg_temp, ma_avg_temp, ma_prcp, CT_conf_cases, ME_conf_cases, MA_conf_cases, VT_conf_cases]
Index: []

In [82]:
# save the data to a new csv file
cov_weather2.to_csv('cov_weather_test.csv', index=False)