In [1]:
import pandas as pd
import numpy as np
import requests
import json
import datetime
from pandas_profiling import ProfileReport

## Weather dataset:

In [2]:
Token= 'kwWGVZlNuVYFUheaHYiAxIsIRYCDEzvl'

In [3]:
#create empty lists to store CT data
ct_dates_temp = []
ct_dates_prcp = []
ct_temps = []
ct_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&datatypeid=PRCP&limit=1000&stationid=GHCND:USW00014740&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are average temperature readings
    ct_avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
    #get the date field from all average temperature readings
    ct_dates_temp += [item['date'] for item in ct_avg_temps]
    #get the actual average temperature from all average temperature readings
    ct_temps += [item['value'] for item in ct_avg_temps]
    #get all items in the response which are average precipitation readings
    ct_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average precipitation readings
    ct_dates_prcp += [item['date'] for item in ct_avg_prcp]
    #get the actual average precipitation from all average precipitation readings
    ct_prcp += [item['value'] for item in ct_avg_prcp]

print('done')

working on year 2020
working on year 2021
done

In [4]:
#Create empty lists to store ME data
#Note: avg temp not available for Maine, so will use temp min and temp max instead
me_dates_temp_min = []
me_dates_temp_max = []
me_dates_prcp = []
me_temps_min = []
me_temps_max = []
me_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USW00094626&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are MIN temp readings
    me_min_temps_item = [item for item in d['results'] if item['datatype']=='TMIN']
    #get the date field from all MIN temperature readings
    me_dates_temp_min += [item['date'] for item in me_min_temps_item]
    #get the actual min temperature from all MIN temperature readings
    me_temps_min += [item['value'] for item in me_min_temps_item]
    #get all items in the response which are MAX temperature readings
    me_max_temp_item = [item for item in d['results'] if item['datatype']=='TMAX']
    #get the date field from all MAX temperature readings
    me_dates_temp_max += [item['date'] for item in me_max_temp_item]
    #get the actual average temperature from all MAX temperature readings
    me_temps_max += [item['value'] for item in me_max_temp_item]
    #get all items in the response which are average PRCP readings
    me_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average PRCP readings
    me_dates_prcp += [item['date'] for item in me_avg_prcp]
    #get the actual average precipitation from all average PRCP readings
    me_prcp += [item['value'] for item in me_avg_prcp]
    
print('done')

working on year 2020
working on year 2021
done

In [6]:
#Create empty lists to store VT data
#Note: avg temp not available for Vermont, so will use temp min and temp max instead
vt_dates_temp_min = []
vt_dates_temp_max = []
vt_dates_prcp = []
vt_temps_min = []
vt_temps_max = []
vt_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USW00014742&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are MIN temp readings
    vt_min_temps_item = [item for item in d['results'] if item['datatype']=='TMIN']
    #get the date field from all MIN temperature readings
    vt_dates_temp_min += [item['date'] for item in vt_min_temps_item]
    #get the actual min temperature from all MIN temperature readings
    vt_temps_min += [item['value'] for item in vt_min_temps_item]
    #get all items in the response which are MAX temperature readings
    vt_max_temp_item = [item for item in d['results'] if item['datatype']=='TMAX']
    #get the date field from all MAX temperature readings
    vt_dates_temp_max += [item['date'] for item in vt_max_temp_item]
    #get the actual average temperature from all MAX temperature readings
    vt_temps_max += [item['value'] for item in vt_max_temp_item]
    #get all items in the response which are average PRCP readings
    vt_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average PRCP readings
    vt_dates_prcp += [item['date'] for item in vt_avg_prcp]
    #get the actual average precipitation from all average PRCP readings
    vt_prcp += [item['value'] for item in vt_avg_prcp]
    
print('done')

working on year 2020
working on year 2021
done

In [7]:

#Create empty lists to store MA data
#Note: avg temp not available for Massachusetts, so will use temp min and temp max instead
ma_dates_temp_min = []
ma_dates_temp_max = []
ma_dates_prcp = []
ma_temps_min = []
ma_temps_max = []
ma_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00193624&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are MIN temp readings
    ma_min_temps_item = [item for item in d['results'] if item['datatype']=='TMIN']
    #get the date field from all MIN temperature readings
    ma_dates_temp_min += [item['date'] for item in ma_min_temps_item]
    #get the actual min temperature from all MIN temperature readings
    ma_temps_min += [item['value'] for item in ma_min_temps_item]
    #get all items in the response which are MAX temperature readings
    ma_max_temp_item = [item for item in d['results'] if item['datatype']=='TMAX']
    #get the date field from all MAX temperature readings
    ma_dates_temp_max += [item['date'] for item in ma_max_temp_item]
    #get the actual average temperature from all MAX temperature readings
    ma_temps_max += [item['value'] for item in ma_max_temp_item]
    #get all items in the response which are average PRCP readings
    ma_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average PRCP readings
    ma_dates_prcp += [item['date'] for item in ma_avg_prcp]
    #get the actual average precipitation from all average PRCP readings
    ma_prcp += [item['value'] for item in ma_avg_prcp]
    
print('done')

working on year 2020
working on year 2021
done

### Put data into dataframes by state:

#### Connecticut:

In [8]:
#Zip dates together with respective values per state:
#convert all date values to datetime objects:

#Connecticut:
df_ct_temps = pd.DataFrame(list(zip(ct_dates_temp, ct_temps)), columns = ['ct_date', 'ct_avg_temp'])
df_ct_temps['ct_date']=pd.to_datetime(df_ct_temps['ct_date'])
df_ct_prcp = pd.DataFrame(list(zip(ct_dates_prcp, ct_prcp)), columns = ['ct_date', 'ct_prcp'])
df_ct_prcp['ct_date']=pd.to_datetime(df_ct_prcp['ct_date'])

In [9]:
#Since we already have avg_temp for CT, inner join with prcp:
DF_ct = pd.merge(df_ct_temps, df_ct_prcp, how = 'inner', on= ['ct_date'])

#### Maine:

In [10]:
#Maine:
df_me_temp_min = pd.DataFrame(list(zip(me_dates_temp_min, me_temps_min)), columns = ['me_date', 'me_temp_min'])
df_me_temp_min['me_date'] = pd.to_datetime(df_me_temp_min['me_date'])
df_me_temp_max = pd.DataFrame(list(zip(me_dates_temp_max, me_temps_max)), columns = ['me_date', 'me_temp_max'])
df_me_temp_max['me_date'] = pd.to_datetime(df_me_temp_max['me_date'])
df_me_prcp = pd.DataFrame(list(zip(me_dates_prcp, me_prcp)), columns = ['me_date', 'me_prcp'])
df_me_prcp['me_date']=pd.to_datetime(df_me_prcp['me_date'])

In [11]:
#Merge min max ME temp dfs to compute avg_temp:
DF_me_temp_both = pd.merge(df_me_temp_max, df_me_temp_min, how = 'inner', on= ['me_date'])

In [12]:
#Create avg_temp column for Maine:
DF_me_temp_both['me_avg_temp'] = (DF_me_temp_both['me_temp_min'] + DF_me_temp_both['me_temp_max']) // 2
#Drop min max temp columns:
DF_me_temp_avg = DF_me_temp_both.drop(columns=['me_temp_max', 'me_temp_min'])

In [13]:
#Merge temp df with prcp df:
DF_me = pd.merge(DF_me_temp_avg, df_me_prcp, how = 'inner', on= ['me_date'])
DF_me

       me_date  me_avg_temp  me_prcp
0   2020-01-01          -38        5
1   2020-01-02          -11        0
2   2020-01-03           11        3
3   2020-01-04            9       20
4   2020-01-05          -63       28
..         ...          ...      ...
634 2021-10-29           64        0
635 2021-10-30           53       30
636 2021-10-31          100      523
637 2021-11-01           55        0
638 2021-11-02           47        0

[639 rows x 3 columns]

In [14]:
DF_me[(DF_me.me_date > '2020-11-20') & (DF_me.me_date < '2021-01-05')]

       me_date  me_avg_temp  me_prcp
324 2020-11-21           28        0
325 2020-11-22          -39        3
326 2020-11-23           14      391
327 2020-11-24          -57        0
328 2020-11-25          -41       48
329 2020-11-26           14      104
330 2020-11-27           44        0
331 2020-11-28           19        8
332 2020-11-29           19        0
333 2021-01-01          -63        0
334 2021-01-02          -52      251
335 2021-01-03          -58        0
336 2021-01-04          -41        0

#### Vermont:

In [15]:
#Vermont:
df_vt_temp_min = pd.DataFrame(list(zip(vt_dates_temp_min, vt_temps_min)), columns = ['vt_date', 'vt_temp_min'])
df_vt_temp_min['vt_date'] = pd.to_datetime(df_vt_temp_min['vt_date'])
df_vt_temp_max = pd.DataFrame(list(zip(vt_dates_temp_max, vt_temps_max)), columns = ['vt_date', 'vt_temp_max'])
df_vt_temp_max['vt_date'] = pd.to_datetime(df_vt_temp_max['vt_date'])
df_vt_prcp = pd.DataFrame(list(zip(vt_dates_prcp, vt_prcp)), columns = ['vt_date', 'vt_prcp'])
df_vt_prcp['vt_date']=pd.to_datetime(df_vt_prcp['vt_date'])

In [16]:
#Merge min max VT temp dfs to compute avg_temp:
DF_vt_temp_both = pd.merge(df_vt_temp_max, df_vt_temp_min, how = 'inner', on= ['vt_date'])

In [17]:
#Create avg_temp column for Vermont:
DF_vt_temp_both['vt_avg_temp'] = (DF_vt_temp_both['vt_temp_min'] + DF_vt_temp_both['vt_temp_max']) // 2
#Drop min max temp columns:
DF_vt_temp_avg = DF_vt_temp_both.drop(columns=['vt_temp_max', 'vt_temp_min'])

In [18]:
#Merge temp df with prcp df:
DF_vt = pd.merge(DF_vt_temp_avg, df_vt_prcp, how = 'inner', on= ['vt_date'])
DF_vt

       vt_date  vt_avg_temp  vt_prcp
0   2020-01-01           11        3
1   2020-01-02           14        0
2   2020-01-03           50        0
3   2020-01-04           17       51
4   2020-01-05          -49        0
..         ...          ...      ...
635 2021-10-30           97      109
636 2021-10-31          114      406
637 2021-11-01           94        0
638 2021-11-02           64       13
639 2021-11-03           30       76

[640 rows x 3 columns]

In [19]:
DF_vt[(DF_vt.vt_date > '2020-11-20') & (DF_vt.vt_date < '2021-01-05')]

       vt_date  vt_avg_temp  vt_prcp
325 2020-11-21           69        0
326 2020-11-22            9        0
327 2020-11-23           44       56
328 2020-11-24          -17        0
329 2020-11-25           14       23
330 2020-11-26           75       64
331 2020-11-27           72        0
332 2020-11-28           44       18
333 2021-01-01          -14        5
334 2021-01-02          -13      122
335 2021-01-03          -11       18
336 2021-01-04            6        0

#### Massachusetts

In [20]:
#Massachusetts
df_ma_temp_min = pd.DataFrame(list(zip(ma_dates_temp_min, ma_temps_min)), columns = ['ma_date', 'ma_temp_min'])
df_ma_temp_min['ma_date'] = pd.to_datetime(df_ma_temp_min['ma_date'])
df_ma_temp_max = pd.DataFrame(list(zip(ma_dates_temp_max, ma_temps_max)), columns = ['ma_date', 'ma_temp_max'])
df_ma_temp_max['ma_date'] = pd.to_datetime(df_ma_temp_max['ma_date'])
df_ma_prcp = pd.DataFrame(list(zip(ma_dates_prcp, ma_prcp)), columns = ['ma_date', 'ma_prcp'])
df_ma_prcp['ma_date']=pd.to_datetime(df_ma_prcp['ma_date'])

In [21]:
#Merge min max MA temp dfs to compute avg_temp:
DF_ma_temp_both = pd.merge(df_ma_temp_max, df_ma_temp_min, how = 'inner', on= ['ma_date'])

In [22]:
#Create avg_temp column for Massachusetts:
DF_ma_temp_both['ma_avg_temp'] = (DF_ma_temp_both['ma_temp_min'] + DF_ma_temp_both['ma_temp_max']) // 2
#Drop min max temp columns:
DF_ma_temp_avg = DF_ma_temp_both.drop(columns=['ma_temp_max', 'ma_temp_min'])

In [23]:
#Merge MA temp df with MA prcp df:
DF_ma = pd.merge(DF_ma_temp_avg, df_ma_prcp, how = 'inner', on= ['ma_date'])
DF_ma

       ma_date  ma_avg_temp  ma_prcp
0   2020-01-01           22        0
1   2020-01-02           30        0
2   2020-01-03           69        0
3   2020-01-04           67       33
4   2020-01-05           36       71
..         ...          ...      ...
633 2021-10-30          125      239
634 2021-10-31          161      157
635 2021-11-01          114        0
636 2021-11-02           77        0
637 2021-11-03           61        0

[638 rows x 3 columns]

In [24]:
DF_ma[(DF_ma.ma_date > '2020-11-20') & (DF_ma.ma_date < '2021-01-05')]

       ma_date  ma_avg_temp  ma_prcp
325 2020-11-21          108        0
326 2020-11-22           66        0
327 2020-11-23          103      295
328 2020-11-24           36        0
329 2020-11-25           44        0
330 2020-11-26          111       79
331 2020-11-27           86        0
332 2020-11-28           91        0
333 2021-01-01           11        0
334 2021-01-02           39       81
335 2021-01-03           13        5
336 2021-01-04           19        3

#### Merge to one DataFrame:

In [25]:
#Merge states to same df:
df_vt_me = pd.merge(DF_vt, DF_me, how = 'left', left_on= ['vt_date'], right_on= ['me_date'])

In [26]:
df_vt_me_ct= pd.merge(df_vt_me, DF_ct, how = 'left', left_on= ['vt_date'], right_on= ['ct_date'])

In [27]:
df_weather = pd.merge(df_vt_me_ct, DF_ma, how = 'left', left_on= ['vt_date'], right_on= ['ma_date'])

In [28]:
#Drop replicate 'date' columns: we only need one
df_weather2 = df_weather.drop(columns=['me_date', 'ct_date', 'ma_date'])
df_weather2

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
0,2020-01-01,11,3,-38.0,5.0,19.0,0.0,22.0,0.0
1,2020-01-02,14,0,-11.0,0.0,21.0,0.0,30.0,0.0
2,2020-01-03,50,0,11.0,3.0,56.0,0.0,69.0,0.0
3,2020-01-04,17,51,9.0,20.0,46.0,56.0,67.0,33.0
4,2020-01-05,-49,0,-63.0,28.0,25.0,0.0,36.0,71.0
...,...,...,...,...,...,...,...,...,...
635,2021-10-30,97,109,53.0,30.0,107.0,155.0,125.0,239.0
636,2021-10-31,114,406,100.0,523.0,151.0,74.0,161.0,157.0
637,2021-11-01,94,0,55.0,0.0,122.0,0.0,114.0,0.0
638,2021-11-02,64,13,47.0,0.0,79.0,0.0,77.0,0.0
639,2021-11-03,30,76,NaN,NaN,NaN,NaN,61.0,0.0

In [29]:
#Check for NaNs:
df_weather2[df_weather2['ma_avg_temp'].isna()]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
609,2021-10-04,153,0,105.0,0.0,152.0,460.0,NaN,NaN
617,2021-10-12,183,0,164.0,0.0,152.0,0.0,NaN,NaN

Let's just cut off our data at 2021-09-22, as Massachusetts doesn't have any weather info after that, and no states have any weather info after 2021-09-25. 

Since there's only a few missing data points, instead of dropping them (and creating a gap in our time series flow), it may be worth checking if the [NOAA'Climate Data Online Search'](https://www.ncdc.noaa.gov/cdo-web/search) tool can't turn up any weather data available for a nearby weather station from these few dates. The interactive map feature should make it easy to quickly (visually) determine the nearest weather stations to our original one.

In [30]:
#Cut off data at 2021-09-22, as MA doesn't have any data after that date:
df_weather2.drop(df_weather2.index[598:604], inplace=True)

In [31]:
#Double check MA has no missing values
df_weather2[df_weather2['ma_avg_temp'].isna()]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
609,2021-10-04,153,0,105.0,0.0,152.0,460.0,NaN,NaN
617,2021-10-12,183,0,164.0,0.0,152.0,0.0,NaN,NaN

Rather than delete more dates, let's grab weather data from nearby MA weather stations on those 3 dates:

In [32]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00194744&startdate=2021-08-08&enddate=2021-08-08', headers={'token':Token})
d = json.loads(r.text)
print(d)

{'metadata': {'resultset': {'offset': 1, 'count': 3, 'limit': 1000}}, 'results': [{'date': '2021-08-08T00:00:00', 'datatype': 'PRCP', 'station': 'GHCND:USC00194744', 'attributes': ',,7,0700', 'value': 0}, {'date': '2021-08-08T00:00:00', 'datatype': 'TMAX', 'station': 'GHCND:USC00194744', 'attributes': ',,7,0700', 'value': 306}, {'date': '2021-08-08T00:00:00', 'datatype': 'TMIN', 'station': 'GHCND:USC00194744', 'attributes': ',,7,0700', 'value': 211}]}

In [33]:
df_weather3= df_weather2
#Calculate TAVG:
ma_0808_tavg = (306 + 211)/2
#replace nan values from 2021-08-08
df_weather3.iloc[552,7] = ma_0808_tavg
df_weather3.iloc[552,8] = 0.0

In [34]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00194744&startdate=2021-08-20&enddate=2021-08-20', headers={'token':Token})
d = json.loads(r.text)
print(d)

{'metadata': {'resultset': {'offset': 1, 'count': 3, 'limit': 1000}}, 'results': [{'date': '2021-08-20T00:00:00', 'datatype': 'PRCP', 'station': 'GHCND:USC00194744', 'attributes': ',,7,0700', 'value': 424}, {'date': '2021-08-20T00:00:00', 'datatype': 'TMAX', 'station': 'GHCND:USC00194744', 'attributes': ',,7,0700', 'value': 283}, {'date': '2021-08-20T00:00:00', 'datatype': 'TMIN', 'station': 'GHCND:USC00194744', 'attributes': ',,7,0700', 'value': 172}]}

In [35]:
#Calculate TAVG:
ma_0820_tavg = (283 + 172)/2
#replace nan values from 2021-08-20
df_weather3.iloc[564,7] = ma_0820_tavg
df_weather3.iloc[564,8] = 424.0

In [36]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00194744&startdate=2021-09-11&enddate=2021-09-11', headers={'token':Token})
d = json.loads(r.text)
print(d)

{'metadata': {'resultset': {'offset': 1, 'count': 3, 'limit': 1000}}, 'results': [{'date': '2021-09-11T00:00:00', 'datatype': 'PRCP', 'station': 'GHCND:USC00194744', 'attributes': ',,7,0700', 'value': 3}, {'date': '2021-09-11T00:00:00', 'datatype': 'TMAX', 'station': 'GHCND:USC00194744', 'attributes': ',,7,0700', 'value': 217}, {'date': '2021-09-11T00:00:00', 'datatype': 'TMIN', 'station': 'GHCND:USC00194744', 'attributes': ',,7,0700', 'value': 94}]}

In [37]:
#Calculate TAVG:
ma_0911_tavg = (94 + 217)/2
#replace nan values from 2021-08-20
df_weather3.iloc[586,7] = ma_0820_tavg
df_weather3.iloc[586,8] = 3.0

Let's do a final check to make sure MA doesn't have any more NaNs:

In [38]:
df_weather3[df_weather2['ma_avg_temp'].isna()]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
609,2021-10-04,153,0,105.0,0.0,152.0,460.0,NaN,NaN
617,2021-10-12,183,0,164.0,0.0,152.0,0.0,NaN,NaN

Great! Now let's check the other states while we're at it.

In [39]:
#Now check missing values of CT:
df_weather3[df_weather2['ct_avg_temp'].isna()]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
639,2021-11-03,30,76,NaN,NaN,NaN,NaN,61.0,0.0

In [40]:
#Now check missing values of VT:
df_weather3[df_weather3['vt_avg_temp'].isna()]

Empty DataFrame
Columns: [vt_date, vt_avg_temp, vt_prcp, me_avg_temp, me_prcp, ct_avg_temp, ct_prcp, ma_avg_temp, ma_prcp]
Index: []

In [41]:
#Now check missing values of ME:
df_weather3[df_weather3['me_avg_temp'].isna()]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
250,2020-09-07,194,0,NaN,NaN,217.0,0.0,222.0,0.0
639,2021-11-03,30,76,NaN,NaN,NaN,NaN,61.0,0.0

Let's find TAVG and PRCP for a nearby MAINE weather station for 2020-09-07 (while we're making all these API calls)...

In [42]:
#Find tavg and prcp from nearby ME weather station for 2020-09-07
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00170814&startdate=2020-09-07&enddate=2020-09-07', headers={'token':Token})
d = json.loads(r.text)
print(d)

{'metadata': {'resultset': {'offset': 1, 'count': 3, 'limit': 1000}}, 'results': [{'date': '2020-09-07T00:00:00', 'datatype': 'PRCP', 'station': 'GHCND:USC00170814', 'attributes': ',,7,0700', 'value': 10}, {'date': '2020-09-07T00:00:00', 'datatype': 'TMAX', 'station': 'GHCND:USC00170814', 'attributes': ',,7,0700', 'value': 244}, {'date': '2020-09-07T00:00:00', 'datatype': 'TMIN', 'station': 'GHCND:USC00170814', 'attributes': ',,7,0700', 'value': 44}]}

In [43]:
#Calculate ME TAVG for 2020-09-07 (all temperatures will be converted to whole Fahrenheit units next):
me_tavg_20200907 = (244 + 44)/2
#Replace nan temp value as float
df_weather3.iloc[250, 3] = float(me_tavg_20200907)
#replace nan prcp value as float
df_weather3.iloc[250,4] = float(10.0)

Quadruple check that we've addressed all NaNs:

In [44]:
#Quadruple check for missing values:
df_weather3[pd.isnull(df_weather3).any(axis=1)]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
609,2021-10-04,153,0,105.0,0.0,152.0,460.0,NaN,NaN
617,2021-10-12,183,0,164.0,0.0,152.0,0.0,NaN,NaN
639,2021-11-03,30,76,NaN,NaN,NaN,NaN,61.0,0.0

No more missing values! Now for the COVID19 dataset.

## COVID data:

In [67]:
#Import COVID dataset:
cov = pd.read_csv('time_series_covid19_confirmed_US.csv')

In [68]:
cov_all_states = cov.groupby('Province_State').sum().reset_index()

In [69]:
cov_all_states.head()

,Province_State,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,...,9/3/21,9/4/21,9/5/21,9/6/21,9/7/21,9/8/21,9/9/21,9/10/21,9/11/21,9/12/21
0,Alabama,5796241491,57960,241491.0,2203.246784,-5809.578199,0,0,0,0,...,714860,719280,722122,724688,727360,732151,736518,741318,745812,747606
1,Alaska,2772236473,27720,236473.0,1868.733025,-4605.860811,0,0,0,0,...,90642,90642,90642,90642,92790,93632,94474,95175,95175,95175
2,American Samoa,16,16,60.0,-14.271000,-170.132000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arizona,1428230216,14280,230216.0,505.138555,-1671.948482,0,0,0,0,...,1023935,1027359,1030430,1032808,1034790,1037012,1039492,1042480,1045835,1048600
4,Arkansas,6468550635,64680,550635.0,2618.391704,-6932.548370,0,0,0,0,...,460363,462723,463795,464732,465315,467496,469977,472136,473885,475001

In [72]:
cov_state = cov_all_states[cov_all_states['Province_State'].isin(['Massachusetts', 'Connecticut', 'Maine', 'Vermont'])].reset_index(drop=True)

In [73]:
cov_state.head()

,Province_State,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,...,9/3/21,9/4/21,9/5/21,9/6/21,9/7/21,9/8/21,9/9/21,9/10/21,9/11/21,9/12/21
0,Connecticut,840242082,8400,242082.0,332.909441,-581.254637,0,0,0,0,...,375135,375135,375135,375135,376747,377682,378308,378933,378933,378933
1,Maine,1512538302,15120,538302.0,715.003014,-1112.380298,0,0,0,0,...,77578,78069,78071,78071,78071,78803,79423,79929,80513,80513
2,Massachusetts,1428590248,14280,520246.0,630.994149,-1071.277031,0,0,0,0,...,765584,765584,765584,765584,771267,772742,775149,777022,777022,777022
3,Vermont,1344870296,13440,870296.0,618.232941,-1017.581330,0,0,0,0,...,28703,28884,28994,29125,29325,29436,29588,29735,29934,30114

In [74]:
cov_state[(cov_state['date'] > '2020-11-20') & (cov_state['date'] < '2021-01-05')]

KeyError: 'date'

In [77]:
#Drop unnecessary columns and transpose
cov_state2 = cov_state.drop(columns=['UID', 'code3', 'FIPS', 'Lat', 'Long_']).T

In [78]:
is_NaN = cov_state2.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = cov_state2[row_has_NaN]
print(rows_with_NaN)

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [79]:
cov_state2

                          0      1              2        3
Province_State  Connecticut  Maine  Massachusetts  Vermont
1/22/20                   0      0              0        0
1/23/20                   0      0              0        0
1/24/20                   0      0              0        0
1/25/20                   0      0              0        0
...                     ...    ...            ...      ...
9/8/21               377682  78803         772742    29436
9/9/21               378308  79423         775149    29588
9/10/21              378933  79929         777022    29735
9/11/21              378933  80513         777022    29934
9/12/21              378933  80513         777022    30114

[601 rows x 4 columns]

In [80]:
#Replace Headers with first row
new_header = cov_state2.iloc[0] #grab the first row for the header
cov_state2 = cov_state2[1:] #take the data less the header row
cov_state2.columns = new_header #set the header row as the df header

In [81]:
#Reset index 
cov_state2.reset_index(inplace=True)

In [82]:
#Update column names in preparation for merge with weather dataset
cov_state3=cov_state2.rename(columns={'index': 'date','Connecticut': 'CT_conf_cases', 'Maine': 'ME_conf_cases', 'Vermont': 'VT_conf_cases', 'Massachusetts' : 'MA_conf_cases'})

In [83]:
cov_state3

Province_State,date,CT_conf_cases,ME_conf_cases,MA_conf_cases,VT_conf_cases
0,1/22/20,0,0,0,0
1,1/23/20,0,0,0,0
2,1/24/20,0,0,0,0
3,1/25/20,0,0,0,0
4,1/26/20,0,0,0,0
...,...,...,...,...,...
595,9/8/21,377682,78803,772742,29436
596,9/9/21,378308,79423,775149,29588
597,9/10/21,378933,79929,777022,29735
598,9/11/21,378933,80513,777022,29934
599,9/12/21,378933,80513,777022,30114

In [84]:
#Remove index axis name
cov_state3.rename_axis('', axis=1, inplace=True)

In [85]:
cov_state3

        date CT_conf_cases ME_conf_cases MA_conf_cases VT_conf_cases
0    1/22/20             0             0             0             0
1    1/23/20             0             0             0             0
2    1/24/20             0             0             0             0
3    1/25/20             0             0             0             0
4    1/26/20             0             0             0             0
..       ...           ...           ...           ...           ...
595   9/8/21        377682         78803        772742         29436
596   9/9/21        378308         79423        775149         29588
597  9/10/21        378933         79929        777022         29735
598  9/11/21        378933         80513        777022         29934
599  9/12/21        378933         80513        777022         30114

[600 rows x 5 columns]

In [86]:
#Convert date column to Datetime object
cov_state3['date']=pd.to_datetime(cov_state3['date'])

In [87]:
cov_state3.dtypes

date             datetime64[ns]
CT_conf_cases            object
ME_conf_cases            object
MA_conf_cases            object
VT_conf_cases            object
dtype: object

In [88]:
cov_state3[(cov_state3['date'] > '2020-11-20') & (cov_state3['date'] < '2021-01-05')]

          date CT_conf_cases ME_conf_cases MA_conf_cases VT_conf_cases
304 2020-11-21        101469         10123        204155          3546
305 2020-11-22        101469         10359        206850          3629
306 2020-11-23        106740         10544        208623          3714
307 2020-11-24        107280         10799        211199          3762
308 2020-11-25        109152         11027        214594          3827
309 2020-11-26        109152         11265        214594          3827
310 2020-11-27        112581         11265        219252          4005
311 2020-11-28        112581         11288        222469          4033
312 2020-11-29        112581         11508        224964          4100
313 2020-11-30        117295         11757        226132          4172
314 2020-12-01        118754         11981        229205          4239
315 2020-12-02        121426         12208        234232          4461
316 2020-12-03        126177         12554        240907          4642
317 2020-12-04        127715         12844        246398          4763
318 2020-12-05        127715         13127        252017          4894
319 2020-12-06        127715         13348        256844          5015
320 2020-12-07        135844         13775        259325          5080
321 2020-12-08        138258         14049        263447          5180
322 2020-12-09        140548         14454        269412          5285
323 2020-12-10        142979         14861        274781          5413
324 2020-12-11        146761         15206        280436          5541
325 2020-12-12        146761         15620        285725          5626
326 2020-12-13        146761         15923        290578          5753
327 2020-12-14        153992         16349        294231          5857
328 2020-12-15        155462         16760        298160          5923
329 2020-12-16        157781         17311        304112          6009
330 2020-12-17        160102         17901        309247          6149
331 2020-12-18        162782         18337        314926          6243
332 2020-12-19        162782         18738        319270          6343
333 2020-12-20        162782         18946        323531          6443
334 2020-12-21        167377         19285        327374          6534
335 2020-12-22        168960         19743        331174          6608
336 2020-12-23        170705         20491        335988          6680
337 2020-12-24        172743         21226        341925          6781
338 2020-12-25        172743         21547        341925          6781
339 2020-12-26        172743         21547        349602          6966
340 2020-12-27        172743         21880        352736          7029
341 2020-12-28        181200         22319        356934          7120
342 2020-12-29        181967         22909        361079          7202
343 2020-12-30        183663         23499        367918          7276
344 2020-12-31        185708         24201        375178          7412
345 2021-01-01        185708         24902        375178          7412
346 2021-01-02        190120         25245        384181          7689
347 2021-01-03        190120         25592        387662          7793
348 2021-01-04        194636         25967        392568          7873

In [89]:
cov_state3[(cov_state3.date > '2020-11-20') & (cov_state3.date < '2021-01-05')]

          date CT_conf_cases ME_conf_cases MA_conf_cases VT_conf_cases
304 2020-11-21        101469         10123        204155          3546
305 2020-11-22        101469         10359        206850          3629
306 2020-11-23        106740         10544        208623          3714
307 2020-11-24        107280         10799        211199          3762
308 2020-11-25        109152         11027        214594          3827
309 2020-11-26        109152         11265        214594          3827
310 2020-11-27        112581         11265        219252          4005
311 2020-11-28        112581         11288        222469          4033
312 2020-11-29        112581         11508        224964          4100
313 2020-11-30        117295         11757        226132          4172
314 2020-12-01        118754         11981        229205          4239
315 2020-12-02        121426         12208        234232          4461
316 2020-12-03        126177         12554        240907          4642
317 2020-12-04        127715         12844        246398          4763
318 2020-12-05        127715         13127        252017          4894
319 2020-12-06        127715         13348        256844          5015
320 2020-12-07        135844         13775        259325          5080
321 2020-12-08        138258         14049        263447          5180
322 2020-12-09        140548         14454        269412          5285
323 2020-12-10        142979         14861        274781          5413
324 2020-12-11        146761         15206        280436          5541
325 2020-12-12        146761         15620        285725          5626
326 2020-12-13        146761         15923        290578          5753
327 2020-12-14        153992         16349        294231          5857
328 2020-12-15        155462         16760        298160          5923
329 2020-12-16        157781         17311        304112          6009
330 2020-12-17        160102         17901        309247          6149
331 2020-12-18        162782         18337        314926          6243
332 2020-12-19        162782         18738        319270          6343
333 2020-12-20        162782         18946        323531          6443
334 2020-12-21        167377         19285        327374          6534
335 2020-12-22        168960         19743        331174          6608
336 2020-12-23        170705         20491        335988          6680
337 2020-12-24        172743         21226        341925          6781
338 2020-12-25        172743         21547        341925          6781
339 2020-12-26        172743         21547        349602          6966
340 2020-12-27        172743         21880        352736          7029
341 2020-12-28        181200         22319        356934          7120
342 2020-12-29        181967         22909        361079          7202
343 2020-12-30        183663         23499        367918          7276
344 2020-12-31        185708         24201        375178          7412
345 2021-01-01        185708         24902        375178          7412
346 2021-01-02        190120         25245        384181          7689
347 2021-01-03        190120         25592        387662          7793
348 2021-01-04        194636         25967        392568          7873

## Merge datasets

In [90]:
#Check null values 
cov_state3.isna().sum()

date             0
CT_conf_cases    0
ME_conf_cases    0
MA_conf_cases    0
VT_conf_cases    0
dtype: int64

In [91]:
df_weather2[pd.isnull(df_weather2).any(axis=1)]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
609,2021-10-04,153,0,105.0,0.0,152.0,460.0,NaN,NaN
617,2021-10-12,183,0,164.0,0.0,152.0,0.0,NaN,NaN
639,2021-11-03,30,76,NaN,NaN,NaN,NaN,61.0,0.0

In [92]:
#Rename weather date column in preparation for merge
df_weather2=df_weather2.rename(columns={'vt_date':'date'})

In [93]:
weather2 = df_weather2

In [99]:
weather2[(weather2['date'] > '2020-11-20') & (weather2['date'] < '2021-01-05')]

,date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
325,2020-11-21,69,0,28.0,0.0,101.0,0.0,108.0,0.0
326,2020-11-22,9,0,-39.0,3.0,47.0,8.0,66.0,0.0
327,2020-11-23,44,56,14.0,391.0,63.0,201.0,103.0,295.0
328,2020-11-24,-17,0,-57.0,0.0,33.0,0.0,36.0,0.0
329,2020-11-25,14,23,-41.0,48.0,19.0,3.0,44.0,0.0
330,2020-11-26,75,64,14.0,104.0,79.0,229.0,111.0,79.0
331,2020-11-27,72,0,44.0,0.0,84.0,0.0,86.0,0.0
332,2020-11-28,44,18,19.0,8.0,87.0,0.0,91.0,0.0
333,2021-01-01,-14,5,-63.0,0.0,-2.0,46.0,11.0,0.0
334,2021-01-02,-13,122,-52.0,251.0,23.0,53.0,39.0,81.0
335,2021-01-03,-11,18,-58.0,0.0,-8.0,30.0,13.0,5.0
336,2021-01-04,6,0,-41.0,0.0,5.0,3.0,19.0,3.0

In [94]:
cov2 = cov_state3

In [95]:
cov2[(cov2['date'] > '2020-11-20') & (cov2['date'] < '2021-01-05')]

          date CT_conf_cases ME_conf_cases MA_conf_cases VT_conf_cases
304 2020-11-21        101469         10123        204155          3546
305 2020-11-22        101469         10359        206850          3629
306 2020-11-23        106740         10544        208623          3714
307 2020-11-24        107280         10799        211199          3762
308 2020-11-25        109152         11027        214594          3827
309 2020-11-26        109152         11265        214594          3827
310 2020-11-27        112581         11265        219252          4005
311 2020-11-28        112581         11288        222469          4033
312 2020-11-29        112581         11508        224964          4100
313 2020-11-30        117295         11757        226132          4172
314 2020-12-01        118754         11981        229205          4239
315 2020-12-02        121426         12208        234232          4461
316 2020-12-03        126177         12554        240907          4642
317 2020-12-04        127715         12844        246398          4763
318 2020-12-05        127715         13127        252017          4894
319 2020-12-06        127715         13348        256844          5015
320 2020-12-07        135844         13775        259325          5080
321 2020-12-08        138258         14049        263447          5180
322 2020-12-09        140548         14454        269412          5285
323 2020-12-10        142979         14861        274781          5413
324 2020-12-11        146761         15206        280436          5541
325 2020-12-12        146761         15620        285725          5626
326 2020-12-13        146761         15923        290578          5753
327 2020-12-14        153992         16349        294231          5857
328 2020-12-15        155462         16760        298160          5923
329 2020-12-16        157781         17311        304112          6009
330 2020-12-17        160102         17901        309247          6149
331 2020-12-18        162782         18337        314926          6243
332 2020-12-19        162782         18738        319270          6343
333 2020-12-20        162782         18946        323531          6443
334 2020-12-21        167377         19285        327374          6534
335 2020-12-22        168960         19743        331174          6608
336 2020-12-23        170705         20491        335988          6680
337 2020-12-24        172743         21226        341925          6781
338 2020-12-25        172743         21547        341925          6781
339 2020-12-26        172743         21547        349602          6966
340 2020-12-27        172743         21880        352736          7029
341 2020-12-28        181200         22319        356934          7120
342 2020-12-29        181967         22909        361079          7202
343 2020-12-30        183663         23499        367918          7276
344 2020-12-31        185708         24201        375178          7412
345 2021-01-01        185708         24902        375178          7412
346 2021-01-02        190120         25245        384181          7689
347 2021-01-03        190120         25592        387662          7793
348 2021-01-04        194636         25967        392568          7873

In [96]:
cov_weather = pd.merge(weather2, cov2, how = 'outer', on= 'date')
cov_weather

,date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp,CT_conf_cases,ME_conf_cases,MA_conf_cases,VT_conf_cases
0,2020-01-01,11.0,3.0,-38.0,5.0,19.0,0.0,22.0,0.0,NaN,NaN,NaN,NaN
1,2020-01-02,14.0,0.0,-11.0,0.0,21.0,0.0,30.0,0.0,NaN,NaN,NaN,NaN
2,2020-01-03,50.0,0.0,11.0,3.0,56.0,0.0,69.0,0.0,NaN,NaN,NaN,NaN
3,2020-01-04,17.0,51.0,9.0,20.0,46.0,56.0,67.0,33.0,NaN,NaN,NaN,NaN
4,2020-01-05,-49.0,0.0,-63.0,28.0,25.0,0.0,36.0,71.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,2020-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172743,21880,352736,7029
663,2020-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181200,22319,356934,7120
664,2020-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181967,22909,361079,7202
665,2020-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183663,23499,367918,7276
666,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185708,24201,375178,7412

In [97]:
cov_weather[(cov_weather.date > '2020-11-20') & (cov_weather.date < '2021-01-05')]

,date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp,CT_conf_cases,ME_conf_cases,MA_conf_cases,VT_conf_cases
325,2020-11-21,69.0,0.0,28.0,0.0,101.0,0.0,108.0,0.0,101469,10123,204155,3546
326,2020-11-22,9.0,0.0,-39.0,3.0,47.0,8.0,66.0,0.0,101469,10359,206850,3629
327,2020-11-23,44.0,56.0,14.0,391.0,63.0,201.0,103.0,295.0,106740,10544,208623,3714
328,2020-11-24,-17.0,0.0,-57.0,0.0,33.0,0.0,36.0,0.0,107280,10799,211199,3762
329,2020-11-25,14.0,23.0,-41.0,48.0,19.0,3.0,44.0,0.0,109152,11027,214594,3827
330,2020-11-26,75.0,64.0,14.0,104.0,79.0,229.0,111.0,79.0,109152,11265,214594,3827
331,2020-11-27,72.0,0.0,44.0,0.0,84.0,0.0,86.0,0.0,112581,11265,219252,4005
332,2020-11-28,44.0,18.0,19.0,8.0,87.0,0.0,91.0,0.0,112581,11288,222469,4033
333,2021-01-01,-14.0,5.0,-63.0,0.0,-2.0,46.0,11.0,0.0,185708,24902,375178,7412
334,2021-01-02,-13.0,122.0,-52.0,251.0,23.0,53.0,39.0,81.0,190120,25245,384181,7689
335,2021-01-03,-11.0,18.0,-58.0,0.0,-8.0,30.0,13.0,5.0,190120,25592,387662,7793
336,2021-01-04,6.0,0.0,-41.0,0.0,5.0,3.0,19.0,3.0,194636,25967,392568,7873
634,2020-11-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112581,11508,224964,4100
635,2020-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117295,11757,226132,4172
636,2020-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118754,11981,229205,4239
637,2020-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121426,12208,234232,4461
638,2020-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126177,12554,240907,4642
639,2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127715,12844,246398,4763
640,2020-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127715,13127,252017,4894
641,2020-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127715,13348,256844,5015
642,2020-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135844,13775,259325,5080
643,2020-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138258,14049,263447,5180
644,2020-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140548,14454,269412,5285
645,2020-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142979,14861,274781,5413
646,2020-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146761,15206,280436,5541
647,2020-12-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146761,15620,285725,5626
648,2020-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146761,15923,290578,5753
649,2020-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153992,16349,294231,5857
650,2020-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155462,16760,298160,5923
651,2020-12-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157781,17311,304112,6009
652,2020-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160102,17901,309247,6149
653,2020-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162782,18337,314926,6243
654,2020-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162782,18738,319270,6343
655,2020-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162782,18946,323531,6443
656,2020-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167377,19285,327374,6534
657,2020-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168960,19743,331174,6608
658,2020-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170705,20491,335988,6680
659,2020-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172743,21226,341925,6781
660,2020-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172743,21547,341925,6781
661,2020-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172743,21547,349602,6966
662,2020-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172743,21880,352736,7029
663,2020-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181200,22319,356934,7120
664,2020-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181967,22909,361079,7202
665,2020-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183663,23499,367918,7276
666,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185708,24201,375178,7412

In [98]:
#Any remaining missing values?
cov_weather.isna().sum()

date              0
vt_avg_temp      33
vt_prcp          33
me_avg_temp      34
me_prcp          34
ct_avg_temp      34
ct_prcp          34
ma_avg_temp      35
ma_prcp          35
CT_conf_cases    67
ME_conf_cases    67
MA_conf_cases    67
VT_conf_cases    67
dtype: int64

COVID19 data source: "COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University" or "JHU CSSE COVID-19 Data" [link here](https://github.com/CSSEGISandData/COVID-19).

In [ ]:
cov_state = cov[cov['UID'].isin([84009003, 84023021, 84025017, 84050009])]

In [ ]:
cov_state

In [ ]:
cov_state[(cov_state['date'] > '2020-11-20') & (cov_state['date'] < '2021-01-05')]

In [ ]:
#Drop unnecessary columns and transpose
cov_state2 = cov_state.drop(columns=['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Lat', 'Long_', 'Combined_Key', 'Country_Region', 'Admin2']).T

In [ ]:
cov_state2

Let's check for any NaNs in the COVID19 dataset:

In [ ]:
is_NaN = cov_state2.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = cov_state2[row_has_NaN]
print(rows_with_NaN)

Great! After a couple more steps, we'll be ready to join the COVID19 and weather datasets.

In [ ]:
#Replace Headers with first row
new_header = cov_state2.iloc[0] #grab the first row for the header
cov_state2 = cov_state2[1:] #take the data less the header row
cov_state2.columns = new_header #set the header row as the df header

In [ ]:
#Reset index 
cov_state2.reset_index(inplace=True)

In [ ]:
#Update column names in preparation for merge with weather dataset
cov_state3=cov_state2.rename(columns={'index': 'date','Connecticut': 'CT_conf_cases', 'Maine': 'ME_conf_cases', 'Vermont': 'VT_conf_cases', 'Massachusetts' : 'MA_conf_cases'})

In [ ]:
cov_state3

In [ ]:
#Remove index axis name
cov_state3.rename_axis('', axis=1, inplace=True)

In [ ]:
#Convert date column to Datetime object
cov_state3['date']=pd.to_datetime(cov_state3['date'])

In [ ]:
cov_state3

In [ ]:
cov_state3['date'].dtype

In [ ]:
cov_state3[(cov_state3['date'] > '2020-11-20') & (cov_state3['date'] < '2021-01-05')]

In [ ]:
cov_state3[(cov_state3.date > '2020-11-20') & (cov_state3.date < '2021-01-05')]

### Merge datasets:

In [ ]:
#Check null values 
cov_state3.isna().sum()

In [ ]:
df_weather2[pd.isnull(df_weather2).any(axis=1)]

In [ ]:
#Rename weather date column in preparation for merge
df_weather2=df_weather2.rename(columns={'vt_date':'date'})

In [ ]:
weather2 = df_weather2

In [ ]:
cov2 = cov_state3

In [ ]:
cov2[(cov2['date'] > '2020-11-20') & (cov2['date'] < '2021-01-05')]

In [ ]:
weather2[(weather2['date'] > '2020-11-20') & (weather2['date'] < '2021-01-05')]

In [ ]:
cov_weather = pd.merge(weather2, cov2, how = 'outer', on= 'date')
cov_weather

In [ ]:
cov_weather[(cov_weather.date > '2020-11-20') & (cov_weather.date < '2021-01-05')]

In [ ]:
#Merge COVID dataset with weather data set and take a look:
#cov_weather = pd.merge(cov_state3, df_weather2, how = 'inner', on= ['date'])
#cov_weather

In [ ]:
#Any remaining missing values?
cov_weather.isna().sum()

In [ ]:
#cov_weather

### Create a Pandas Profiling Report:

In [ ]:
profile = ProfileReport(cov_weather, title="Cov_Weather Pandas Profiling Report", explorative=True)

In [ ]:
profile

__Save to csv file:__

In [ ]:
# save the data to a new csv file
#cov_weather.to_csv('cleaned_cov_weather3.csv', index=False)

## Summary:

The daily climate data was to be retrieved from https://www.ncei.noaa.gov (the National Centers for Environmental Information website). This is a very large dataset that contains weather data collected from thousands of international weather stations, daily since 1880. 

First, empty lists were created to store the soon-to-be-retrieved-data. Three API calls were made to retrieve only the relevant climate data for the three US states of interest: Connecticut, Vermont, and Maine. A for loop was created within each API call in order to limit the data to those from 2020-2021. Within each for loop, only the specifically relevant climate data for each state was appended to the previously-created empty lists. For Connecticut, this relevant information included: Date, Average Temp, and Precipitation. The Vermont and Maine weather stations did not have "Average Temperature" data, so instead, for these two states we collected: Date, Min Temp, Max Temp, and Precipitation. 

Related lists were zipped together and merged into (3) dataframes of climate information by state. The 'Date' columns for each state DataFrame were converted to datetime objects. Next, "Average Daily Temperature" columns were created for the Vermont and Maine dataframes by created a new column that averaged each state's min and max temperature per day. The min and max temperature columns were then dropped. Each state's dataframe now contained 3 columns: 'Date', 'Average Temperature', and 'Precipitation.' The three states were merged together with an inner join on the date columns to form a single climate dataset. 

Next an API call was made to retrieve the COVID data from the csv file 'time_series_covid19_confirmed_US.csv'. Data concerning confirmed cases was retrieved from:

1. Hartford, Connecticut
2. Essex, Vermont 
3. Piscataquis, Maine

These were chosen as they were the the closest geographical locations to those from the climate dataset. The exact locations of the weather stations, along with their distances from the COVID locations are listed below:

1. Hartford, Connecticut: 0 miles
2. Burlington, Vermont: 7.1 miles
3. Greenville, Maine: 25.7 miles

Next, irrelevant columns were removed, so that only state and dates columns remained. 

The data was at this point in very wide format, so the dataframe was transposed into long format. Now the indices were the dates and each column pertained to a different state. The column headers were replaced with each respective state name and the indices were reset, so that date once again became its own column. The columns were renamed in preparation for the dataframe's upcoming merge with the weather dataset. The index name was removed and the date column was converted to datetime objects.

Both DataFrames were now ready to be merged together. A quick check on null values revealed that neither data set had any missing values. The name of the date column in the weather data set was changed to match that of the date column in the COVID data set and they merged on an inner join on the date column. A final check on null values revealed there was now 1 missing value in me_avg_temp and 1 missing value in me_prcp. Both these values appear to be from the same date: 2020-09-07. For now, the null values are left in the dataframe. Lastly A pandas profiling profile is created for the cov_weather DataFrame.