In [1]:
import pandas as pd
import numpy as np
import requests
import json
import datetime
from pandas_profiling import ProfileReport

## Weather dataset:

In [2]:
Token= 'kwWGVZlNuVYFUheaHYiAxIsIRYCDEzvl'

In [3]:
#create empty lists to store CT data
ct_dates_temp = []
ct_dates_prcp = []
ct_temps = []
ct_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&datatypeid=PRCP&limit=1000&stationid=GHCND:USW00014740&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are average temperature readings
    ct_avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
    #get the date field from all average temperature readings
    ct_dates_temp += [item['date'] for item in ct_avg_temps]
    #get the actual average temperature from all average temperature readings
    ct_temps += [item['value'] for item in ct_avg_temps]
    #get all items in the response which are average precipitation readings
    ct_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average precipitation readings
    ct_dates_prcp += [item['date'] for item in ct_avg_prcp]
    #get the actual average precipitation from all average precipitation readings
    ct_prcp += [item['value'] for item in ct_avg_prcp]

print('done')

working on year 2020
working on year 2021
done

In [130]:
#Create empty lists to store ME data
#Note: avg temp not available for Maine, so will use temp min and temp max instead
me_dates_temp_min = []
me_dates_temp_max = []
me_dates_prcp = []
me_temps_min = []
me_temps_max = []
me_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USW00094626&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are MIN temp readings
    me_min_temps_item = [item for item in d['results'] if item['datatype']=='TMIN']
    #get the date field from all MIN temperature readings
    me_dates_temp_min += [item['date'] for item in me_min_temps_item]
    #get the actual min temperature from all MIN temperature readings
    me_temps_min += [item['value'] for item in me_min_temps_item]
    #get all items in the response which are MAX temperature readings
    me_max_temp_item = [item for item in d['results'] if item['datatype']=='TMAX']
    #get the date field from all MAX temperature readings
    me_dates_temp_max += [item['date'] for item in me_max_temp_item]
    #get the actual average temperature from all MAX temperature readings
    me_temps_max += [item['value'] for item in me_max_temp_item]
    #get all items in the response which are average PRCP readings
    me_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average PRCP readings
    me_dates_prcp += [item['date'] for item in me_avg_prcp]
    #get the actual average precipitation from all average PRCP readings
    me_prcp += [item['value'] for item in me_avg_prcp]
    
print('done')

working on year 2020
working on year 2021
done

In [132]:
print(me_dates_temp_min)

['2020-01-01T00:00:00', '2020-01-02T00:00:00', '2020-01-03T00:00:00', '2020-01-04T00:00:00', '2020-01-05T00:00:00', '2020-01-06T00:00:00', '2020-01-07T00:00:00', '2020-01-08T00:00:00', '2020-01-09T00:00:00', '2020-01-10T00:00:00', '2020-01-11T00:00:00', '2020-01-12T00:00:00', '2020-01-13T00:00:00', '2020-01-14T00:00:00', '2020-01-15T00:00:00', '2020-01-16T00:00:00', '2020-01-17T00:00:00', '2020-01-18T00:00:00', '2020-01-19T00:00:00', '2020-01-20T00:00:00', '2020-01-21T00:00:00', '2020-01-22T00:00:00', '2020-01-23T00:00:00', '2020-01-24T00:00:00', '2020-01-25T00:00:00', '2020-01-26T00:00:00', '2020-01-27T00:00:00', '2020-01-28T00:00:00', '2020-01-29T00:00:00', '2020-01-30T00:00:00', '2020-01-31T00:00:00', '2020-02-01T00:00:00', '2020-02-02T00:00:00', '2020-02-03T00:00:00', '2020-02-04T00:00:00', '2020-02-05T00:00:00', '2020-02-06T00:00:00', '2020-02-07T00:00:00', '2020-02-08T00:00:00', '2020-02-09T00:00:00', '2020-02-10T00:00:00', '2020-02-11T00:00:00', '2020-02-12T00:00:00', '2020-02-13T00:00:00', '2020-02-14T00:00:00', '2020-02-15T00:00:00', '2020-02-16T00:00:00', '2020-02-17T00:00:00', '2020-02-18T00:00:00', '2020-02-19T00:00:00', '2020-02-20T00:00:00', '2020-02-21T00:00:00', '2020-02-22T00:00:00', '2020-02-23T00:00:00', '2020-02-24T00:00:00', '2020-02-25T00:00:00', '2020-02-26T00:00:00', '2020-02-27T00:00:00', '2020-02-28T00:00:00', '2020-02-29T00:00:00', '2020-03-01T00:00:00', '2020-03-02T00:00:00', '2020-03-03T00:00:00', '2020-03-04T00:00:00', '2020-03-05T00:00:00', '2020-03-06T00:00:00', '2020-03-07T00:00:00', '2020-03-08T00:00:00', '2020-03-09T00:00:00', '2020-03-10T00:00:00', '2020-03-11T00:00:00', '2020-03-12T00:00:00', '2020-03-13T00:00:00', '2020-03-14T00:00:00', '2020-03-15T00:00:00', '2020-03-16T00:00:00', '2020-03-17T00:00:00', '2020-03-18T00:00:00', '2020-03-19T00:00:00', '2020-03-20T00:00:00', '2020-03-21T00:00:00', '2020-03-22T00:00:00', '2020-03-23T00:00:00', '2020-03-24T00:00:00', '2020-03-25T00:00:00', '2020-03-26T00:00:00', '2020-03-27T00:00:00', '2020-03-28T00:00:00', '2020-03-29T00:00:00', '2020-03-30T00:00:00', '2020-03-31T00:00:00', '2020-04-01T00:00:00', '2020-04-02T00:00:00', '2020-04-03T00:00:00', '2020-04-04T00:00:00', '2020-04-05T00:00:00', '2020-04-06T00:00:00', '2020-04-07T00:00:00', '2020-04-08T00:00:00', '2020-04-09T00:00:00', '2020-04-10T00:00:00', '2020-04-11T00:00:00', '2020-04-12T00:00:00', '2020-04-13T00:00:00', '2020-04-14T00:00:00', '2020-04-15T00:00:00', '2020-04-16T00:00:00', '2020-04-17T00:00:00', '2020-04-18T00:00:00', '2020-04-19T00:00:00', '2020-04-20T00:00:00', '2020-04-21T00:00:00', '2020-04-22T00:00:00', '2020-04-23T00:00:00', '2020-04-24T00:00:00', '2020-04-25T00:00:00', '2020-04-26T00:00:00', '2020-04-27T00:00:00', '2020-04-28T00:00:00', '2020-04-29T00:00:00', '2020-04-30T00:00:00', '2020-05-01T00:00:00', '2020-05-02T00:00:00', '2020-05-03T00:00:00', '2020-05-04T00:00:00', '2020-05-05T00:00:00', '2020-05-06T00:00:00', '2020-05-07T00:00:00', '2020-05-08T00:00:00', '2020-05-09T00:00:00', '2020-05-10T00:00:00', '2020-05-11T00:00:00', '2020-05-12T00:00:00', '2020-05-13T00:00:00', '2020-05-14T00:00:00', '2020-05-15T00:00:00', '2020-05-16T00:00:00', '2020-05-17T00:00:00', '2020-05-18T00:00:00', '2020-05-19T00:00:00', '2020-05-20T00:00:00', '2020-05-21T00:00:00', '2020-05-22T00:00:00', '2020-05-23T00:00:00', '2020-05-24T00:00:00', '2020-05-25T00:00:00', '2020-05-26T00:00:00', '2020-05-27T00:00:00', '2020-05-28T00:00:00', '2020-05-29T00:00:00', '2020-05-30T00:00:00', '2020-05-31T00:00:00', '2020-06-01T00:00:00', '2020-06-02T00:00:00', '2020-06-03T00:00:00', '2020-06-04T00:00:00', '2020-06-05T00:00:00', '2020-06-06T00:00:00', '2020-06-07T00:00:00', '2020-06-08T00:00:00', '2020-06-09T00:00:00', '2020-06-10T00:00:00', '2020-06-11T00:00:00', '2020-06-12T00:00:00', '2020-06-13T00:00:00', '2020-06-14T00:00:00', '2020-06-15T00:00:00', '2020-06-16T00:00:00', '2020-06-17T00:00:00', '2020-06-18T00:00:00', '2020-06-19T00:00:00', '2020-06-20T00:00:00', '2020-06-21T00:00:00', '2020-06-22T00:00:00', '2020-06-23T00:00:00', '2020-06-24T00:00:00', '2020-06-25T00:00:00', '2020-06-26T00:00:00', '2020-06-27T00:00:00', '2020-06-28T00:00:00', '2020-06-29T00:00:00', '2020-06-30T00:00:00', '2020-07-01T00:00:00', '2020-07-02T00:00:00', '2020-07-03T00:00:00', '2020-07-04T00:00:00', '2020-07-05T00:00:00', '2020-07-06T00:00:00', '2020-07-07T00:00:00', '2020-07-08T00:00:00', '2020-07-09T00:00:00', '2020-07-10T00:00:00', '2020-07-11T00:00:00', '2020-07-12T00:00:00', '2020-07-13T00:00:00', '2020-07-14T00:00:00', '2020-07-15T00:00:00', '2020-07-16T00:00:00', '2020-07-17T00:00:00', '2020-07-18T00:00:00', '2020-07-19T00:00:00', '2020-07-20T00:00:00', '2020-07-21T00:00:00', '2020-07-22T00:00:00', '2020-07-23T00:00:00', '2020-07-24T00:00:00', '2020-07-25T00:00:00', '2020-07-26T00:00:00', '2020-07-27T00:00:00', '2020-07-28T00:00:00', '2020-07-29T00:00:00', '2020-07-30T00:00:00', '2020-07-31T00:00:00', '2020-08-01T00:00:00', '2020-08-02T00:00:00', '2020-08-03T00:00:00', '2020-08-04T00:00:00', '2020-08-05T00:00:00', '2020-08-06T00:00:00', '2020-08-07T00:00:00', '2020-08-08T00:00:00', '2020-08-09T00:00:00', '2020-08-10T00:00:00', '2020-08-11T00:00:00', '2020-08-12T00:00:00', '2020-08-13T00:00:00', '2020-08-14T00:00:00', '2020-08-15T00:00:00', '2020-08-16T00:00:00', '2020-08-17T00:00:00', '2020-08-18T00:00:00', '2020-08-19T00:00:00', '2020-08-20T00:00:00', '2020-08-21T00:00:00', '2020-08-22T00:00:00', '2020-08-23T00:00:00', '2020-08-24T00:00:00', '2020-08-25T00:00:00', '2020-08-26T00:00:00', '2020-08-27T00:00:00', '2020-08-28T00:00:00', '2020-08-29T00:00:00', '2020-08-30T00:00:00', '2020-08-31T00:00:00', '2020-09-01T00:00:00', '2020-09-02T00:00:00', '2020-09-03T00:00:00', '2020-09-04T00:00:00', '2020-09-05T00:00:00', '2020-09-06T00:00:00', '2020-09-08T00:00:00', '2020-09-09T00:00:00', '2020-09-10T00:00:00', '2020-09-11T00:00:00', '2020-09-12T00:00:00', '2020-09-13T00:00:00', '2020-09-14T00:00:00', '2020-09-15T00:00:00', '2020-09-16T00:00:00', '2020-09-17T00:00:00', '2020-09-18T00:00:00', '2020-09-19T00:00:00', '2020-09-20T00:00:00', '2020-09-21T00:00:00', '2020-09-22T00:00:00', '2020-09-23T00:00:00', '2020-09-24T00:00:00', '2020-09-25T00:00:00', '2020-09-26T00:00:00', '2020-09-27T00:00:00', '2020-09-28T00:00:00', '2020-09-29T00:00:00', '2020-09-30T00:00:00', '2020-10-01T00:00:00', '2020-10-02T00:00:00', '2020-10-03T00:00:00', '2020-10-04T00:00:00', '2020-10-05T00:00:00', '2020-10-06T00:00:00', '2020-10-07T00:00:00', '2020-10-08T00:00:00', '2020-10-09T00:00:00', '2020-10-10T00:00:00', '2020-10-11T00:00:00', '2020-10-12T00:00:00', '2020-10-13T00:00:00', '2020-10-14T00:00:00', '2020-10-15T00:00:00', '2020-10-16T00:00:00', '2020-10-17T00:00:00', '2020-10-18T00:00:00', '2020-10-19T00:00:00', '2020-10-20T00:00:00', '2020-10-21T00:00:00', '2020-10-22T00:00:00', '2020-10-23T00:00:00', '2020-10-24T00:00:00', '2020-10-25T00:00:00', '2020-10-26T00:00:00', '2020-10-27T00:00:00', '2020-10-28T00:00:00', '2020-10-29T00:00:00', '2020-10-30T00:00:00', '2020-10-31T00:00:00', '2020-11-01T00:00:00', '2020-11-02T00:00:00', '2020-11-03T00:00:00', '2020-11-04T00:00:00', '2020-11-05T00:00:00', '2020-11-06T00:00:00', '2020-11-07T00:00:00', '2020-11-08T00:00:00', '2020-11-09T00:00:00', '2020-11-10T00:00:00', '2020-11-11T00:00:00', '2020-11-12T00:00:00', '2020-11-13T00:00:00', '2020-11-14T00:00:00', '2020-11-15T00:00:00', '2020-11-16T00:00:00', '2020-11-17T00:00:00', '2020-11-18T00:00:00', '2020-11-19T00:00:00', '2020-11-20T00:00:00', '2020-11-21T00:00:00', '2020-11-22T00:00:00', '2020-11-23T00:00:00', '2020-11-24T00:00:00', '2020-11-25T00:00:00', '2020-11-26T00:00:00', '2020-11-27T00:00:00', '2020-11-28T00:00:00', '2020-11-29T00:00:00', '2021-01-01T00:00:00', '2021-01-02T00:00:00', '2021-01-03T00:00:00', '2021-01-04T00:00:00', '2021-01-05T00:00:00', '2021-01-06T00:00:00', '2021-01-07T00:00:00', '2021-01-08T00:00:00', '2021-01-09T00:00:00', '2021-01-10T00:00:00', '2021-01-11T00:00:00', '2021-01-12T00:00:00', '2021-01-13T00:00:00', '2021-01-14T00:00:00', '2021-01-15T00:00:00', '2021-01-16T00:00:00', '2021-01-17T00:00:00', '2021-01-18T00:00:00', '2021-01-19T00:00:00', '2021-01-20T00:00:00', '2021-01-21T00:00:00', '2021-01-22T00:00:00', '2021-01-23T00:00:00', '2021-01-24T00:00:00', '2021-01-25T00:00:00', '2021-01-26T00:00:00', '2021-01-27T00:00:00', '2021-01-28T00:00:00', '2021-01-29T00:00:00', '2021-01-30T00:00:00', '2021-01-31T00:00:00', '2021-02-01T00:00:00', '2021-02-02T00:00:00', '2021-02-03T00:00:00', '2021-02-04T00:00:00', '2021-02-05T00:00:00', '2021-02-06T00:00:00', '2021-02-07T00:00:00', '2021-02-08T00:00:00', '2021-02-09T00:00:00', '2021-02-10T00:00:00', '2021-02-11T00:00:00', '2021-02-12T00:00:00', '2021-02-13T00:00:00', '2021-02-14T00:00:00', '2021-02-15T00:00:00', '2021-02-16T00:00:00', '2021-02-17T00:00:00', '2021-02-18T00:00:00', '2021-02-19T00:00:00', '2021-02-20T00:00:00', '2021-02-21T00:00:00', '2021-02-22T00:00:00', '2021-02-23T00:00:00', '2021-02-24T00:00:00', '2021-02-25T00:00:00', '2021-02-26T00:00:00', '2021-02-27T00:00:00', '2021-02-28T00:00:00', '2021-03-01T00:00:00', '2021-03-02T00:00:00', '2021-03-03T00:00:00', '2021-03-04T00:00:00', '2021-03-05T00:00:00', '2021-03-06T00:00:00', '2021-03-07T00:00:00', '2021-03-08T00:00:00', '2021-03-09T00:00:00', '2021-03-10T00:00:00', '2021-03-11T00:00:00', '2021-03-12T00:00:00', '2021-03-13T00:00:00', '2021-03-14T00:00:00', '2021-03-15T00:00:00', '2021-03-16T00:00:00', '2021-03-17T00:00:00', '2021-03-18T00:00:00', '2021-03-19T00:00:00', '2021-03-20T00:00:00', '2021-03-21T00:00:00', '2021-03-22T00:00:00', '2021-03-23T00:00:00', '2021-03-24T00:00:00', '2021-03-25T00:00:00', '2021-03-26T00:00:00', '2021-03-27T00:00:00', '2021-03-28T00:00:00', '2021-03-29T00:00:00', '2021-03-30T00:00:00', '2021-03-31T00:00:00', '2021-04-01T00:00:00', '2021-04-02T00:00:00', '2021-04-03T00:00:00', '2021-04-04T00:00:00', '2021-04-05T00:00:00', '2021-04-06T00:00:00', '2021-04-07T00:00:00', '2021-04-08T00:00:00', '2021-04-09T00:00:00', '2021-04-10T00:00:00', '2021-04-11T00:00:00', '2021-04-12T00:00:00', '2021-04-13T00:00:00', '2021-04-14T00:00:00', '2021-04-15T00:00:00', '2021-04-16T00:00:00', '2021-04-17T00:00:00', '2021-04-18T00:00:00', '2021-04-19T00:00:00', '2021-04-20T00:00:00', '2021-04-21T00:00:00', '2021-04-22T00:00:00', '2021-04-23T00:00:00', '2021-04-24T00:00:00', '2021-04-25T00:00:00', '2021-04-26T00:00:00', '2021-04-27T00:00:00', '2021-04-28T00:00:00', '2021-04-29T00:00:00', '2021-04-30T00:00:00', '2021-05-01T00:00:00', '2021-05-02T00:00:00', '2021-05-03T00:00:00', '2021-05-04T00:00:00', '2021-05-05T00:00:00', '2021-05-06T00:00:00', '2021-05-07T00:00:00', '2021-05-08T00:00:00', '2021-05-09T00:00:00', '2021-05-10T00:00:00', '2021-05-11T00:00:00', '2021-05-12T00:00:00', '2021-05-13T00:00:00', '2021-05-14T00:00:00', '2021-05-15T00:00:00', '2021-05-16T00:00:00', '2021-05-17T00:00:00', '2021-05-18T00:00:00', '2021-05-19T00:00:00', '2021-05-20T00:00:00', '2021-05-21T00:00:00', '2021-05-22T00:00:00', '2021-05-23T00:00:00', '2021-05-24T00:00:00', '2021-05-25T00:00:00', '2021-05-26T00:00:00', '2021-05-27T00:00:00', '2021-05-28T00:00:00', '2021-05-29T00:00:00', '2021-05-30T00:00:00', '2021-05-31T00:00:00', '2021-06-01T00:00:00', '2021-06-02T00:00:00', '2021-06-03T00:00:00', '2021-06-04T00:00:00', '2021-06-05T00:00:00', '2021-06-06T00:00:00', '2021-06-07T00:00:00', '2021-06-08T00:00:00', '2021-06-09T00:00:00', '2021-06-10T00:00:00', '2021-06-11T00:00:00', '2021-06-12T00:00:00', '2021-06-13T00:00:00', '2021-06-14T00:00:00', '2021-06-15T00:00:00', '2021-06-16T00:00:00', '2021-06-17T00:00:00', '2021-06-18T00:00:00', '2021-06-19T00:00:00', '2021-06-20T00:00:00', '2021-06-21T00:00:00', '2021-06-22T00:00:00', '2021-06-23T00:00:00', '2021-06-24T00:00:00', '2021-06-25T00:00:00', '2021-06-26T00:00:00', '2021-06-27T00:00:00', '2021-06-28T00:00:00', '2021-06-29T00:00:00', '2021-06-30T00:00:00', '2021-07-01T00:00:00', '2021-07-02T00:00:00', '2021-07-03T00:00:00', '2021-07-04T00:00:00', '2021-07-05T00:00:00', '2021-07-06T00:00:00', '2021-07-07T00:00:00', '2021-07-08T00:00:00', '2021-07-09T00:00:00', '2021-07-10T00:00:00', '2021-07-11T00:00:00', '2021-07-12T00:00:00', '2021-07-13T00:00:00', '2021-07-14T00:00:00', '2021-07-15T00:00:00', '2021-07-16T00:00:00', '2021-07-17T00:00:00', '2021-07-18T00:00:00', '2021-07-19T00:00:00', '2021-07-20T00:00:00', '2021-07-21T00:00:00', '2021-07-22T00:00:00', '2021-07-23T00:00:00', '2021-07-24T00:00:00', '2021-07-25T00:00:00', '2021-07-26T00:00:00', '2021-07-27T00:00:00', '2021-07-28T00:00:00', '2021-07-29T00:00:00', '2021-07-30T00:00:00', '2021-07-31T00:00:00', '2021-08-01T00:00:00', '2021-08-02T00:00:00', '2021-08-03T00:00:00', '2021-08-04T00:00:00', '2021-08-05T00:00:00', '2021-08-06T00:00:00', '2021-08-07T00:00:00', '2021-08-08T00:00:00', '2021-08-09T00:00:00', '2021-08-10T00:00:00', '2021-08-11T00:00:00', '2021-08-12T00:00:00', '2021-08-13T00:00:00', '2021-08-14T00:00:00', '2021-08-15T00:00:00', '2021-08-16T00:00:00', '2021-08-17T00:00:00', '2021-08-18T00:00:00', '2021-08-19T00:00:00', '2021-08-20T00:00:00', '2021-08-21T00:00:00', '2021-08-22T00:00:00', '2021-08-23T00:00:00', '2021-08-24T00:00:00', '2021-08-25T00:00:00', '2021-08-26T00:00:00', '2021-08-27T00:00:00', '2021-08-28T00:00:00', '2021-08-29T00:00:00', '2021-08-30T00:00:00', '2021-08-31T00:00:00', '2021-09-01T00:00:00', '2021-09-02T00:00:00', '2021-09-03T00:00:00', '2021-09-04T00:00:00', '2021-09-05T00:00:00', '2021-09-06T00:00:00', '2021-09-07T00:00:00', '2021-09-08T00:00:00', '2021-09-09T00:00:00', '2021-09-10T00:00:00', '2021-09-11T00:00:00', '2021-09-12T00:00:00', '2021-09-13T00:00:00', '2021-09-14T00:00:00', '2021-09-15T00:00:00', '2021-09-16T00:00:00', '2021-09-17T00:00:00', '2021-09-18T00:00:00', '2021-09-19T00:00:00', '2021-09-20T00:00:00', '2021-09-21T00:00:00', '2021-09-22T00:00:00', '2021-09-23T00:00:00', '2021-09-24T00:00:00', '2021-09-25T00:00:00', '2021-09-26T00:00:00', '2021-09-27T00:00:00']

In [5]:
#Create empty lists to store VT data
#Note: avg temp not available for Vermont, so will use temp min and temp max instead
vt_dates_temp_min = []
vt_dates_temp_max = []
vt_dates_prcp = []
vt_temps_min = []
vt_temps_max = []
vt_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USW00014742&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are MIN temp readings
    vt_min_temps_item = [item for item in d['results'] if item['datatype']=='TMIN']
    #get the date field from all MIN temperature readings
    vt_dates_temp_min += [item['date'] for item in vt_min_temps_item]
    #get the actual min temperature from all MIN temperature readings
    vt_temps_min += [item['value'] for item in vt_min_temps_item]
    #get all items in the response which are MAX temperature readings
    vt_max_temp_item = [item for item in d['results'] if item['datatype']=='TMAX']
    #get the date field from all MAX temperature readings
    vt_dates_temp_max += [item['date'] for item in vt_max_temp_item]
    #get the actual average temperature from all MAX temperature readings
    vt_temps_max += [item['value'] for item in vt_max_temp_item]
    #get all items in the response which are average PRCP readings
    vt_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average PRCP readings
    vt_dates_prcp += [item['date'] for item in vt_avg_prcp]
    #get the actual average precipitation from all average PRCP readings
    vt_prcp += [item['value'] for item in vt_avg_prcp]
    
print('done')

working on year 2020
working on year 2021
done

In [6]:

#Create empty lists to store MA data
#Note: avg temp not available for Massachusetts, so will use temp min and temp max instead
ma_dates_temp_min = []
ma_dates_temp_max = []
ma_dates_prcp = []
ma_temps_min = []
ma_temps_max = []
ma_prcp = []

#for each year from 2020-2021 ...
for year in range(2020, 2022):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00193624&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are MIN temp readings
    ma_min_temps_item = [item for item in d['results'] if item['datatype']=='TMIN']
    #get the date field from all MIN temperature readings
    ma_dates_temp_min += [item['date'] for item in ma_min_temps_item]
    #get the actual min temperature from all MIN temperature readings
    ma_temps_min += [item['value'] for item in ma_min_temps_item]
    #get all items in the response which are MAX temperature readings
    ma_max_temp_item = [item for item in d['results'] if item['datatype']=='TMAX']
    #get the date field from all MAX temperature readings
    ma_dates_temp_max += [item['date'] for item in ma_max_temp_item]
    #get the actual average temperature from all MAX temperature readings
    ma_temps_max += [item['value'] for item in ma_max_temp_item]
    #get all items in the response which are average PRCP readings
    ma_avg_prcp = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average PRCP readings
    ma_dates_prcp += [item['date'] for item in ma_avg_prcp]
    #get the actual average precipitation from all average PRCP readings
    ma_prcp += [item['value'] for item in ma_avg_prcp]
    
print('done')

working on year 2020
working on year 2021
done

### Put data into dataframes by state:

#### Connecticut:

In [7]:
#Zip dates together with respective values per state:
#convert all date values to datetime objects:

#Connecticut:
df_ct_temps = pd.DataFrame(list(zip(ct_dates_temp, ct_temps)), columns = ['ct_date', 'ct_avg_temp'])
df_ct_temps['ct_date']=pd.to_datetime(df_ct_temps['ct_date'])
df_ct_prcp = pd.DataFrame(list(zip(ct_dates_prcp, ct_prcp)), columns = ['ct_date', 'ct_prcp'])
df_ct_prcp['ct_date']=pd.to_datetime(df_ct_prcp['ct_date'])

In [8]:
#Since we already have avg_temp for CT, inner join with prcp:
DF_ct = pd.merge(df_ct_temps, df_ct_prcp, how = 'inner', on= ['ct_date'])

#### Maine:

In [9]:
#Maine:
df_me_temp_min = pd.DataFrame(list(zip(me_dates_temp_min, me_temps_min)), columns = ['me_date', 'me_temp_min'])
df_me_temp_min['me_date'] = pd.to_datetime(df_me_temp_min['me_date'])
df_me_temp_max = pd.DataFrame(list(zip(me_dates_temp_max, me_temps_max)), columns = ['me_date', 'me_temp_max'])
df_me_temp_max['me_date'] = pd.to_datetime(df_me_temp_max['me_date'])
df_me_prcp = pd.DataFrame(list(zip(me_dates_prcp, me_prcp)), columns = ['me_date', 'me_prcp'])
df_me_prcp['me_date']=pd.to_datetime(df_me_prcp['me_date'])

In [10]:
#Merge min max ME temp dfs to compute avg_temp:
DF_me_temp_both = pd.merge(df_me_temp_max, df_me_temp_min, how = 'inner', on= ['me_date'])

In [11]:
#Create avg_temp column for Maine:
DF_me_temp_both['me_avg_temp'] = (DF_me_temp_both['me_temp_min'] + DF_me_temp_both['me_temp_max']) // 2
#Drop min max temp columns:
DF_me_temp_avg = DF_me_temp_both.drop(columns=['me_temp_max', 'me_temp_min'])

In [12]:
#Merge temp df with prcp df:
DF_me = pd.merge(DF_me_temp_avg, df_me_prcp, how = 'inner', on= ['me_date'])
DF_me

       me_date  me_avg_temp  me_prcp
0   2020-01-01          -38        5
1   2020-01-02          -11        0
2   2020-01-03           11        3
3   2020-01-04            9       20
4   2020-01-05          -63       28
..         ...          ...      ...
598 2021-09-23          200        0
599 2021-09-24          169      272
600 2021-09-25          150       10
601 2021-09-26          139      282
602 2021-09-27          127        5

[603 rows x 3 columns]

In [126]:
DF_me[(DF_me.me_date > '2020-11-20') & (DF_me.me_date < '2021-01-05')]

       me_date  me_avg_temp  me_prcp
324 2020-11-21           28        0
325 2020-11-22          -39        3
326 2020-11-23           14      391
327 2020-11-24          -57        0
328 2020-11-25          -41       48
329 2020-11-26           14      104
330 2020-11-27           44        0
331 2020-11-28           19        8
332 2020-11-29           19        0
333 2021-01-01          -63        0
334 2021-01-02          -52      251
335 2021-01-03          -58        0
336 2021-01-04          -41        0

#### Vermont:

In [13]:
#Vermont:
df_vt_temp_min = pd.DataFrame(list(zip(vt_dates_temp_min, vt_temps_min)), columns = ['vt_date', 'vt_temp_min'])
df_vt_temp_min['vt_date'] = pd.to_datetime(df_vt_temp_min['vt_date'])
df_vt_temp_max = pd.DataFrame(list(zip(vt_dates_temp_max, vt_temps_max)), columns = ['vt_date', 'vt_temp_max'])
df_vt_temp_max['vt_date'] = pd.to_datetime(df_vt_temp_max['vt_date'])
df_vt_prcp = pd.DataFrame(list(zip(vt_dates_prcp, vt_prcp)), columns = ['vt_date', 'vt_prcp'])
df_vt_prcp['vt_date']=pd.to_datetime(df_vt_prcp['vt_date'])

In [14]:
#Merge min max VT temp dfs to compute avg_temp:
DF_vt_temp_both = pd.merge(df_vt_temp_max, df_vt_temp_min, how = 'inner', on= ['vt_date'])

In [15]:
#Create avg_temp column for Vermont:
DF_vt_temp_both['vt_avg_temp'] = (DF_vt_temp_both['vt_temp_min'] + DF_vt_temp_both['vt_temp_max']) // 2
#Drop min max temp columns:
DF_vt_temp_avg = DF_vt_temp_both.drop(columns=['vt_temp_max', 'vt_temp_min'])

In [16]:
#Merge temp df with prcp df:
DF_vt = pd.merge(DF_vt_temp_avg, df_vt_prcp, how = 'inner', on= ['vt_date'])
DF_vt

       vt_date  vt_avg_temp  vt_prcp
0   2020-01-01           11        3
1   2020-01-02           14        0
2   2020-01-03           50        0
3   2020-01-04           17       51
4   2020-01-05          -49        0
..         ...          ...      ...
599 2021-09-24          191      193
600 2021-09-25          169        0
601 2021-09-26          169        0
602 2021-09-27          147       13
603 2021-09-28          119        0

[604 rows x 3 columns]

In [127]:
DF_vt[(DF_vt.vt_date > '2020-11-20') & (DF_vt.vt_date < '2021-01-05')]

       vt_date  vt_avg_temp  vt_prcp
325 2020-11-21           69        0
326 2020-11-22            9        0
327 2020-11-23           44       56
328 2020-11-24          -17        0
329 2020-11-25           14       23
330 2020-11-26           75       64
331 2020-11-27           72        0
332 2020-11-28           44       18
333 2021-01-01          -14        5
334 2021-01-02          -13      122
335 2021-01-03          -11       18
336 2021-01-04            6        0

#### Massachusetts

In [17]:
#Massachusetts
df_ma_temp_min = pd.DataFrame(list(zip(ma_dates_temp_min, ma_temps_min)), columns = ['ma_date', 'ma_temp_min'])
df_ma_temp_min['ma_date'] = pd.to_datetime(df_ma_temp_min['ma_date'])
df_ma_temp_max = pd.DataFrame(list(zip(ma_dates_temp_max, ma_temps_max)), columns = ['ma_date', 'ma_temp_max'])
df_ma_temp_max['ma_date'] = pd.to_datetime(df_ma_temp_max['ma_date'])
df_ma_prcp = pd.DataFrame(list(zip(ma_dates_prcp, ma_prcp)), columns = ['ma_date', 'ma_prcp'])
df_ma_prcp['ma_date']=pd.to_datetime(df_ma_prcp['ma_date'])

In [18]:
#Merge min max MA temp dfs to compute avg_temp:
DF_ma_temp_both = pd.merge(df_ma_temp_max, df_ma_temp_min, how = 'inner', on= ['ma_date'])

In [19]:
#Create avg_temp column for Massachusetts:
DF_ma_temp_both['ma_avg_temp'] = (DF_ma_temp_both['ma_temp_min'] + DF_ma_temp_both['ma_temp_max']) // 2
#Drop min max temp columns:
DF_ma_temp_avg = DF_ma_temp_both.drop(columns=['ma_temp_max', 'ma_temp_min'])

In [20]:
#Merge MA temp df with MA prcp df:
DF_ma = pd.merge(DF_ma_temp_avg, df_ma_prcp, how = 'inner', on= ['ma_date'])
DF_ma

       ma_date  ma_avg_temp  ma_prcp
0   2020-01-01           22        0
1   2020-01-02           30        0
2   2020-01-03           69        0
3   2020-01-04           67       33
4   2020-01-05           36       71
..         ...          ...      ...
592 2021-09-20          152        0
593 2021-09-21          164        0
594 2021-09-22          186        0
595 2021-09-26          188      259
596 2021-09-27          166        0

[597 rows x 3 columns]

In [128]:
DF_ma[(DF_ma.ma_date > '2020-11-20') & (DF_ma.ma_date < '2021-01-05')]

       ma_date  ma_avg_temp  ma_prcp
325 2020-11-21          108        0
326 2020-11-22           66        0
327 2020-11-23          103      295
328 2020-11-24           36        0
329 2020-11-25           44        0
330 2020-11-26          111       79
331 2020-11-27           86        0
332 2020-11-28           91        0
333 2021-01-01           11        0
334 2021-01-02           39       81
335 2021-01-03           13        5
336 2021-01-04           19        3

#### Merge to one DataFrame:

In [21]:
#Merge states to same df:
df_vt_me = pd.merge(DF_vt, DF_me, how = 'left', left_on= ['vt_date'], right_on= ['me_date'])

In [22]:
df_vt_me_ct= pd.merge(df_vt_me, DF_ct, how = 'left', left_on= ['vt_date'], right_on= ['ct_date'])

In [23]:
df_weather = pd.merge(df_vt_me_ct, DF_ma, how = 'left', left_on= ['vt_date'], right_on= ['ma_date'])

In [24]:
#Drop replicate 'date' columns: we only need one
df_weather2 = df_weather.drop(columns=['me_date', 'ct_date', 'ma_date'])
df_weather2

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
0,2020-01-01,11,3,-38.0,5.0,19.0,0.0,22.0,0.0
1,2020-01-02,14,0,-11.0,0.0,21.0,0.0,30.0,0.0
2,2020-01-03,50,0,11.0,3.0,56.0,0.0,69.0,0.0
3,2020-01-04,17,51,9.0,20.0,46.0,56.0,67.0,33.0
4,2020-01-05,-49,0,-63.0,28.0,25.0,0.0,36.0,71.0
...,...,...,...,...,...,...,...,...,...
599,2021-09-24,191,193,169.0,272.0,209.0,178.0,NaN,NaN
600,2021-09-25,169,0,150.0,10.0,162.0,0.0,NaN,NaN
601,2021-09-26,169,0,139.0,282.0,167.0,0.0,188.0,259.0
602,2021-09-27,147,13,127.0,5.0,157.0,0.0,166.0,0.0
603,2021-09-28,119,0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#Check for NaNs:
df_weather2[df_weather2['ma_avg_temp'].isna()]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
552,2021-08-08,244,0,217.0,0.0,248.0,0.0,NaN,NaN
564,2021-08-20,264,0,241.0,0.0,244.0,5.0,NaN,NaN
586,2021-09-11,177,0,152.0,0.0,173.0,0.0,NaN,NaN
598,2021-09-23,261,0,200.0,0.0,230.0,0.0,NaN,NaN
599,2021-09-24,191,193,169.0,272.0,209.0,178.0,NaN,NaN
600,2021-09-25,169,0,150.0,10.0,162.0,0.0,NaN,NaN
603,2021-09-28,119,0,NaN,NaN,NaN,NaN,NaN,NaN

Let's just cut off our data at 2021-09-22, as Massachusetts doesn't have any weather info after that, and no states have any weather info after 2021-09-25. 

Since there's only a few missing data points, instead of dropping them (and creating a gap in our time series flow), it may be worth checking if the [NOAA'Climate Data Online Search'](https://www.ncdc.noaa.gov/cdo-web/search) tool can't turn up any weather data available for a nearby weather station from these few dates. The interactive map feature should make it easy to quickly (visually) determine the nearest weather stations to our original one.

In [26]:
#Cut off data at 2021-09-22, as MA doesn't have any data after that date:
df_weather2.drop(df_weather2.index[598:604], inplace=True)

In [27]:
#Double check MA has no missing values
df_weather2[df_weather2['ma_avg_temp'].isna()]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
552,2021-08-08,244,0,217.0,0.0,248.0,0.0,NaN,NaN
564,2021-08-20,264,0,241.0,0.0,244.0,5.0,NaN,NaN
586,2021-09-11,177,0,152.0,0.0,173.0,0.0,NaN,NaN

Rather than delete more dates, let's grab weather data from nearby MA weather stations on those 3 dates:

In [28]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00194744&startdate=2021-08-08&enddate=2021-08-08', headers={'token':Token})
d = json.loads(r.text)
print(d)

{'metadata': {'resultset': {'offset': 1, 'count': 3, 'limit': 1000}}, 'results': [{'date': '2021-08-08T00:00:00', 'datatype': 'PRCP', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 0}, {'date': '2021-08-08T00:00:00', 'datatype': 'TMAX', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 306}, {'date': '2021-08-08T00:00:00', 'datatype': 'TMIN', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 211}]}

In [29]:
df_weather3= df_weather2
#Calculate TAVG:
ma_0808_tavg = (306 + 211)/2
#replace nan values from 2021-08-08
df_weather3.iloc[552,7] = ma_0808_tavg
df_weather3.iloc[552,8] = 0.0

In [30]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00194744&startdate=2021-08-20&enddate=2021-08-20', headers={'token':Token})
d = json.loads(r.text)
print(d)

{'metadata': {'resultset': {'offset': 1, 'count': 3, 'limit': 1000}}, 'results': [{'date': '2021-08-20T00:00:00', 'datatype': 'PRCP', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 424}, {'date': '2021-08-20T00:00:00', 'datatype': 'TMAX', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 283}, {'date': '2021-08-20T00:00:00', 'datatype': 'TMIN', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 172}]}

In [31]:
#Calculate TAVG:
ma_0820_tavg = (283 + 172)/2
#replace nan values from 2021-08-20
df_weather3.iloc[564,7] = ma_0820_tavg
df_weather3.iloc[564,8] = 424.0

In [32]:
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00194744&startdate=2021-09-11&enddate=2021-09-11', headers={'token':Token})
d = json.loads(r.text)
print(d)

{'metadata': {'resultset': {'offset': 1, 'count': 3, 'limit': 1000}}, 'results': [{'date': '2021-09-11T00:00:00', 'datatype': 'PRCP', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 3}, {'date': '2021-09-11T00:00:00', 'datatype': 'TMAX', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 217}, {'date': '2021-09-11T00:00:00', 'datatype': 'TMIN', 'station': 'GHCND:USC00194744', 'attributes': ',,H,0700', 'value': 94}]}

In [33]:
#Calculate TAVG:
ma_0911_tavg = (94 + 217)/2
#replace nan values from 2021-08-20
df_weather3.iloc[586,7] = ma_0820_tavg
df_weather3.iloc[586,8] = 3.0

Let's do a final check to make sure MA doesn't have any more NaNs:

In [34]:
df_weather3[df_weather2['ma_avg_temp'].isna()]

Empty DataFrame
Columns: [vt_date, vt_avg_temp, vt_prcp, me_avg_temp, me_prcp, ct_avg_temp, ct_prcp, ma_avg_temp, ma_prcp]
Index: []

Great! Now let's check the other states while we're at it.

In [35]:
#Now check missing values of CT:
df_weather3[df_weather2['ct_avg_temp'].isna()]

Empty DataFrame
Columns: [vt_date, vt_avg_temp, vt_prcp, me_avg_temp, me_prcp, ct_avg_temp, ct_prcp, ma_avg_temp, ma_prcp]
Index: []

In [36]:
#Now check missing values of VT:
df_weather3[df_weather3['vt_avg_temp'].isna()]

Empty DataFrame
Columns: [vt_date, vt_avg_temp, vt_prcp, me_avg_temp, me_prcp, ct_avg_temp, ct_prcp, ma_avg_temp, ma_prcp]
Index: []

In [37]:
#Now check missing values of ME:
df_weather3[df_weather3['me_avg_temp'].isna()]

,vt_date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
250,2020-09-07,194,0,NaN,NaN,217.0,0.0,222.0,0.0

Let's find TAVG and PRCP for a nearby MAINE weather station for 2020-09-07 (while we're making all these API calls)...

In [38]:
#Find tavg and prcp from nearby ME weather station for 2020-09-07
r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=PRCP&&datatypeid=TMAX&datatypeid=TMIN&limit=1000&stationid=GHCND:USC00170814&startdate=2020-09-07&enddate=2020-09-07', headers={'token':Token})
d = json.loads(r.text)
print(d)

{'metadata': {'resultset': {'offset': 1, 'count': 3, 'limit': 1000}}, 'results': [{'date': '2020-09-07T00:00:00', 'datatype': 'PRCP', 'station': 'GHCND:USC00170814', 'attributes': ',,7,0700', 'value': 10}, {'date': '2020-09-07T00:00:00', 'datatype': 'TMAX', 'station': 'GHCND:USC00170814', 'attributes': ',,7,0700', 'value': 244}, {'date': '2020-09-07T00:00:00', 'datatype': 'TMIN', 'station': 'GHCND:USC00170814', 'attributes': ',,7,0700', 'value': 44}]}

In [39]:
#Calculate ME TAVG for 2020-09-07 (all temperatures will be converted to whole Fahrenheit units next):
me_tavg_20200907 = (244 + 44)/2
#Replace nan temp value as float
df_weather3.iloc[250, 3] = float(me_tavg_20200907)
#replace nan prcp value as float
df_weather3.iloc[250,4] = float(10.0)

Quadruple check that we've addressed all NaNs:

In [40]:
#Quadruple check for missing values:
df_weather3[pd.isnull(df_weather3).any(axis=1)]

Empty DataFrame
Columns: [vt_date, vt_avg_temp, vt_prcp, me_avg_temp, me_prcp, ct_avg_temp, ct_prcp, ma_avg_temp, ma_prcp]
Index: []

No more missing values! Now for the COVID19 dataset.

## COVID data:

In [41]:
#Import COVID dataset:
cov = pd.read_csv('time_series_covid19_confirmed_US.csv')

COVID19 data source: "COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University" or "JHU CSSE COVID-19 Data" [link here](https://github.com/CSSEGISandData/COVID-19).

In [42]:
cov_state = cov[cov['UID'].isin([84009003, 84023021, 84025017, 84050009])]

In [43]:
cov_state

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/3/21,9/4/21,9/5/21,9/6/21,9/7/21,9/8/21,9/9/21,9/10/21,9/11/21,9/12/21
324,84009003,US,USA,840,9003.0,Hartford,Connecticut,US,41.802830,-72.731039,...,91571,91571,91571,91571,91956,92175,92311,92462,92462,92462
1232,84023021,US,USA,840,23021.0,Piscataquis,Maine,US,45.838391,-69.286022,...,811,813,813,813,813,817,818,820,838,838
1274,84025017,US,USA,840,25017.0,Middlesex,Massachusetts,US,42.486077,-71.390492,...,145291,145291,145291,145291,146251,146511,146875,147182,147182,147182
2997,84050009,US,USA,840,50009.0,Essex,Vermont,US,44.727364,-71.735799,...,325,326,326,327,328,328,328,332,339,339

In [72]:
cov_state[(cov_state['date'] > '2020-11-20') & (cov_state['date'] < '2021-01-05')]

KeyError: 'date'

In [73]:
#Drop unnecessary columns and transpose
cov_state2 = cov_state.drop(columns=['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Lat', 'Long_', 'Combined_Key', 'Country_Region', 'Admin2']).T

In [74]:
cov_state2

                       324    1232           1274     2997
Province_State  Connecticut  Maine  Massachusetts  Vermont
1/22/20                   0      0              0        0
1/23/20                   0      0              0        0
1/24/20                   0      0              0        0
1/25/20                   0      0              0        0
...                     ...    ...            ...      ...
9/8/21                92175    817         146511      328
9/9/21                92311    818         146875      328
9/10/21               92462    820         147182      332
9/11/21               92462    838         147182      339
9/12/21               92462    838         147182      339

[601 rows x 4 columns]

Let's check for any NaNs in the COVID19 dataset:

In [75]:
is_NaN = cov_state2.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = cov_state2[row_has_NaN]
print(rows_with_NaN)

Empty DataFrame
Columns: [324, 1232, 1274, 2997]
Index: []

Great! After a couple more steps, we'll be ready to join the COVID19 and weather datasets.

In [76]:
#Replace Headers with first row
new_header = cov_state2.iloc[0] #grab the first row for the header
cov_state2 = cov_state2[1:] #take the data less the header row
cov_state2.columns = new_header #set the header row as the df header

In [77]:
#Reset index 
cov_state2.reset_index(inplace=True)

In [78]:
#Update column names in preparation for merge with weather dataset
cov_state3=cov_state2.rename(columns={'index': 'date','Connecticut': 'CT_conf_cases', 'Maine': 'ME_conf_cases', 'Vermont': 'VT_conf_cases', 'Massachusetts' : 'MA_conf_cases'})

In [79]:
cov_state3

Province_State,date,CT_conf_cases,ME_conf_cases,MA_conf_cases,VT_conf_cases
0,1/22/20,0,0,0,0
1,1/23/20,0,0,0,0
2,1/24/20,0,0,0,0
3,1/25/20,0,0,0,0
4,1/26/20,0,0,0,0
...,...,...,...,...,...
595,9/8/21,92175,817,146511,328
596,9/9/21,92311,818,146875,328
597,9/10/21,92462,820,147182,332
598,9/11/21,92462,838,147182,339
599,9/12/21,92462,838,147182,339

In [80]:
#Remove index axis name
cov_state3.rename_axis('', axis=1, inplace=True)

In [81]:
#Convert date column to Datetime object
cov_state3['date']=pd.to_datetime(cov_state3['date'])

In [54]:
cov_state3

          date CT_conf_cases ME_conf_cases MA_conf_cases VT_conf_cases
0   2020-01-22             0             0             0             0
1   2020-01-23             0             0             0             0
2   2020-01-24             0             0             0             0
3   2020-01-25             0             0             0             0
4   2020-01-26             0             0             0             0
..         ...           ...           ...           ...           ...
595 2021-09-08         92175           817        146511           328
596 2021-09-09         92311           818        146875           328
597 2021-09-10         92462           820        147182           332
598 2021-09-11         92462           838        147182           339
599 2021-09-12         92462           838        147182           339

[600 rows x 5 columns]

In [82]:
cov_state3['date'].dtype

dtype('<M8[ns]')

In [83]:
cov_state3[(cov_state3['date'] > '2020-11-20') & (cov_state3['date'] < '2021-01-05')]

          date CT_conf_cases ME_conf_cases MA_conf_cases VT_conf_cases
304 2020-11-21         25182            34         41384            26
305 2020-11-22         25182            35         42019            28
306 2020-11-23         26424            35         42437            28
307 2020-11-24         26555            38         42863            36
308 2020-11-25         27061            40         43538            35
309 2020-11-26         27061            41         43538            35
310 2020-11-27         27844            41         44577            35
311 2020-11-28         27844            41         45363            37
312 2020-11-29         27844            42         45972            38
313 2020-11-30         28895            42         46230            41
314 2020-12-01         29049            46         46743            42
315 2020-12-02         29575            49         47671            57
316 2020-12-03         30549            52         48896            58
317 2020-12-04         30879            57         50108            62
318 2020-12-05         30879            60         51310            62
319 2020-12-06         30879            60         52345            63
320 2020-12-07         33035            60         52839            64
321 2020-12-08         33796            61         53518            69
322 2020-12-09         34516            62         54680            70
323 2020-12-10         35245            66         55765            71
324 2020-12-11         35878            66         56850            71
325 2020-12-12         35878            69         57947            72
326 2020-12-13         35878            72         59078            73
327 2020-12-14         38036            73         59835            73
328 2020-12-15         38457            78         60621            74
329 2020-12-16         39151            79         61640            74
330 2020-12-17         39787            83         62721            74
331 2020-12-18         40611            86         63998            75
332 2020-12-19         40611            90         64782            75
333 2020-12-20         40611            91         65653            75
334 2020-12-21         41961            92         66506            78
335 2020-12-22         42402           100         67233            79
336 2020-12-23         42786           101         68154            80
337 2020-12-24         43253           103         69259            81
338 2020-12-25         43253           105         69259            81
339 2020-12-26         43253           105         70748            81
340 2020-12-27         43253           105         71348            80
341 2020-12-28         45589           108         72124            80
342 2020-12-29         45746           111         72973            80
343 2020-12-30         46201           112         74298            80
344 2020-12-31         46680           117         75615            80
345 2021-01-01         46680           117         75615            80
346 2021-01-02         47726           117         77222            80
347 2021-01-03         47726           120         77821            80
348 2021-01-04         48913           125         78663            82

In [60]:
cov_state3[(cov_state3.date > '2020-11-20') & (cov_state3.date < '2021-01-05')]

          date CT_conf_cases ME_conf_cases MA_conf_cases VT_conf_cases
304 2020-11-21         25182            34         41384            26
305 2020-11-22         25182            35         42019            28
306 2020-11-23         26424            35         42437            28
307 2020-11-24         26555            38         42863            36
308 2020-11-25         27061            40         43538            35
309 2020-11-26         27061            41         43538            35
310 2020-11-27         27844            41         44577            35
311 2020-11-28         27844            41         45363            37
312 2020-11-29         27844            42         45972            38
313 2020-11-30         28895            42         46230            41
314 2020-12-01         29049            46         46743            42
315 2020-12-02         29575            49         47671            57
316 2020-12-03         30549            52         48896            58
317 2020-12-04         30879            57         50108            62
318 2020-12-05         30879            60         51310            62
319 2020-12-06         30879            60         52345            63
320 2020-12-07         33035            60         52839            64
321 2020-12-08         33796            61         53518            69
322 2020-12-09         34516            62         54680            70
323 2020-12-10         35245            66         55765            71
324 2020-12-11         35878            66         56850            71
325 2020-12-12         35878            69         57947            72
326 2020-12-13         35878            72         59078            73
327 2020-12-14         38036            73         59835            73
328 2020-12-15         38457            78         60621            74
329 2020-12-16         39151            79         61640            74
330 2020-12-17         39787            83         62721            74
331 2020-12-18         40611            86         63998            75
332 2020-12-19         40611            90         64782            75
333 2020-12-20         40611            91         65653            75
334 2020-12-21         41961            92         66506            78
335 2020-12-22         42402           100         67233            79
336 2020-12-23         42786           101         68154            80
337 2020-12-24         43253           103         69259            81
338 2020-12-25         43253           105         69259            81
339 2020-12-26         43253           105         70748            81
340 2020-12-27         43253           105         71348            80
341 2020-12-28         45589           108         72124            80
342 2020-12-29         45746           111         72973            80
343 2020-12-30         46201           112         74298            80
344 2020-12-31         46680           117         75615            80
345 2021-01-01         46680           117         75615            80
346 2021-01-02         47726           117         77222            80
347 2021-01-03         47726           120         77821            80
348 2021-01-04         48913           125         78663            82

### Merge datasets:

In [84]:
#Check null values 
cov_state3.isna().sum()

date             0
CT_conf_cases    0
ME_conf_cases    0
MA_conf_cases    0
VT_conf_cases    0
dtype: int64

In [85]:
df_weather2[pd.isnull(df_weather2).any(axis=1)]

Empty DataFrame
Columns: [date, vt_avg_temp, vt_prcp, me_avg_temp, me_prcp, ct_avg_temp, ct_prcp, ma_avg_temp, ma_prcp]
Index: []

In [86]:
#Rename weather date column in preparation for merge
df_weather2=df_weather2.rename(columns={'vt_date':'date'})

In [120]:
weather2 = df_weather2

In [121]:
cov2 = cov_state3

In [122]:
cov2[(cov2['date'] > '2020-11-20') & (cov2['date'] < '2021-01-05')]

          date CT_conf_cases ME_conf_cases MA_conf_cases VT_conf_cases
304 2020-11-21         25182            34         41384            26
305 2020-11-22         25182            35         42019            28
306 2020-11-23         26424            35         42437            28
307 2020-11-24         26555            38         42863            36
308 2020-11-25         27061            40         43538            35
309 2020-11-26         27061            41         43538            35
310 2020-11-27         27844            41         44577            35
311 2020-11-28         27844            41         45363            37
312 2020-11-29         27844            42         45972            38
313 2020-11-30         28895            42         46230            41
314 2020-12-01         29049            46         46743            42
315 2020-12-02         29575            49         47671            57
316 2020-12-03         30549            52         48896            58
317 2020-12-04         30879            57         50108            62
318 2020-12-05         30879            60         51310            62
319 2020-12-06         30879            60         52345            63
320 2020-12-07         33035            60         52839            64
321 2020-12-08         33796            61         53518            69
322 2020-12-09         34516            62         54680            70
323 2020-12-10         35245            66         55765            71
324 2020-12-11         35878            66         56850            71
325 2020-12-12         35878            69         57947            72
326 2020-12-13         35878            72         59078            73
327 2020-12-14         38036            73         59835            73
328 2020-12-15         38457            78         60621            74
329 2020-12-16         39151            79         61640            74
330 2020-12-17         39787            83         62721            74
331 2020-12-18         40611            86         63998            75
332 2020-12-19         40611            90         64782            75
333 2020-12-20         40611            91         65653            75
334 2020-12-21         41961            92         66506            78
335 2020-12-22         42402           100         67233            79
336 2020-12-23         42786           101         68154            80
337 2020-12-24         43253           103         69259            81
338 2020-12-25         43253           105         69259            81
339 2020-12-26         43253           105         70748            81
340 2020-12-27         43253           105         71348            80
341 2020-12-28         45589           108         72124            80
342 2020-12-29         45746           111         72973            80
343 2020-12-30         46201           112         74298            80
344 2020-12-31         46680           117         75615            80
345 2021-01-01         46680           117         75615            80
346 2021-01-02         47726           117         77222            80
347 2021-01-03         47726           120         77821            80
348 2021-01-04         48913           125         78663            82

In [123]:
weather2[(weather2['date'] > '2020-11-20') & (weather2['date'] < '2021-01-05')]

,date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp
325,2020-11-21,69,0,28.0,0.0,101.0,0.0,108.0,0.0
326,2020-11-22,9,0,-39.0,3.0,47.0,8.0,66.0,0.0
327,2020-11-23,44,56,14.0,391.0,63.0,201.0,103.0,295.0
328,2020-11-24,-17,0,-57.0,0.0,33.0,0.0,36.0,0.0
329,2020-11-25,14,23,-41.0,48.0,19.0,3.0,44.0,0.0
330,2020-11-26,75,64,14.0,104.0,79.0,229.0,111.0,79.0
331,2020-11-27,72,0,44.0,0.0,84.0,0.0,86.0,0.0
332,2020-11-28,44,18,19.0,8.0,87.0,0.0,91.0,0.0
333,2021-01-01,-14,5,-63.0,0.0,-2.0,46.0,11.0,0.0
334,2021-01-02,-13,122,-52.0,251.0,23.0,53.0,39.0,81.0
335,2021-01-03,-11,18,-58.0,0.0,-8.0,30.0,13.0,5.0
336,2021-01-04,6,0,-41.0,0.0,5.0,3.0,19.0,3.0

In [124]:
cov_weather = pd.merge(weather2, cov2, how = 'outer', on= 'date')
cov_weather

,date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp,CT_conf_cases,ME_conf_cases,MA_conf_cases,VT_conf_cases
0,2020-01-01,11.0,3.0,-38.0,5.0,19.0,0.0,22.0,0.0,NaN,NaN,NaN,NaN
1,2020-01-02,14.0,0.0,-11.0,0.0,21.0,0.0,30.0,0.0,NaN,NaN,NaN,NaN
2,2020-01-03,50.0,0.0,11.0,3.0,56.0,0.0,69.0,0.0,NaN,NaN,NaN,NaN
3,2020-01-04,17.0,51.0,9.0,20.0,46.0,56.0,67.0,33.0,NaN,NaN,NaN,NaN
4,2020-01-05,-49.0,0.0,-63.0,28.0,25.0,0.0,36.0,71.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,2020-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43253,105,71348,80
627,2020-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45589,108,72124,80
628,2020-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45746,111,72973,80
629,2020-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46201,112,74298,80
630,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46680,117,75615,80

In [125]:
cov_weather[(cov_weather.date > '2020-11-20') & (cov_weather.date < '2021-01-05')]

,date,vt_avg_temp,vt_prcp,me_avg_temp,me_prcp,ct_avg_temp,ct_prcp,ma_avg_temp,ma_prcp,CT_conf_cases,ME_conf_cases,MA_conf_cases,VT_conf_cases
325,2020-11-21,69.0,0.0,28.0,0.0,101.0,0.0,108.0,0.0,25182,34,41384,26
326,2020-11-22,9.0,0.0,-39.0,3.0,47.0,8.0,66.0,0.0,25182,35,42019,28
327,2020-11-23,44.0,56.0,14.0,391.0,63.0,201.0,103.0,295.0,26424,35,42437,28
328,2020-11-24,-17.0,0.0,-57.0,0.0,33.0,0.0,36.0,0.0,26555,38,42863,36
329,2020-11-25,14.0,23.0,-41.0,48.0,19.0,3.0,44.0,0.0,27061,40,43538,35
330,2020-11-26,75.0,64.0,14.0,104.0,79.0,229.0,111.0,79.0,27061,41,43538,35
331,2020-11-27,72.0,0.0,44.0,0.0,84.0,0.0,86.0,0.0,27844,41,44577,35
332,2020-11-28,44.0,18.0,19.0,8.0,87.0,0.0,91.0,0.0,27844,41,45363,37
333,2021-01-01,-14.0,5.0,-63.0,0.0,-2.0,46.0,11.0,0.0,46680,117,75615,80
334,2021-01-02,-13.0,122.0,-52.0,251.0,23.0,53.0,39.0,81.0,47726,117,77222,80
335,2021-01-03,-11.0,18.0,-58.0,0.0,-8.0,30.0,13.0,5.0,47726,120,77821,80
336,2021-01-04,6.0,0.0,-41.0,0.0,5.0,3.0,19.0,3.0,48913,125,78663,82
598,2020-11-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27844,42,45972,38
599,2020-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28895,42,46230,41
600,2020-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29049,46,46743,42
601,2020-12-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29575,49,47671,57
602,2020-12-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30549,52,48896,58
603,2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30879,57,50108,62
604,2020-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30879,60,51310,62
605,2020-12-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30879,60,52345,63
606,2020-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33035,60,52839,64
607,2020-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33796,61,53518,69
608,2020-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34516,62,54680,70
609,2020-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35245,66,55765,71
610,2020-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35878,66,56850,71
611,2020-12-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35878,69,57947,72
612,2020-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35878,72,59078,73
613,2020-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38036,73,59835,73
614,2020-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38457,78,60621,74
615,2020-12-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39151,79,61640,74
616,2020-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39787,83,62721,74
617,2020-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40611,86,63998,75
618,2020-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40611,90,64782,75
619,2020-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40611,91,65653,75
620,2020-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41961,92,66506,78
621,2020-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42402,100,67233,79
622,2020-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42786,101,68154,80
623,2020-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43253,103,69259,81
624,2020-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43253,105,69259,81
625,2020-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43253,105,70748,81
626,2020-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43253,105,71348,80
627,2020-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45589,108,72124,80
628,2020-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45746,111,72973,80
629,2020-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46201,112,74298,80
630,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46680,117,75615,80

In [ ]:
#Merge COVID dataset with weather data set and take a look:
#cov_weather = pd.merge(cov_state3, df_weather2, how = 'inner', on= ['date'])
#cov_weather

In [69]:
#Any remaining missing values?
cov_weather.isna().sum()

date             0
CT_conf_cases    0
ME_conf_cases    0
MA_conf_cases    0
VT_conf_cases    0
vt_avg_temp      0
vt_prcp          0
me_avg_temp      0
me_prcp          0
ct_avg_temp      0
ct_prcp          0
ma_avg_temp      0
ma_prcp          0
dtype: int64

In [ ]:
#cov_weather

### Create a Pandas Profiling Report:

In [ ]:
profile = ProfileReport(cov_weather, title="Cov_Weather Pandas Profiling Report", explorative=True)

In [ ]:
profile

__Save to csv file:__

In [71]:
# save the data to a new csv file
cov_weather.to_csv('cleaned_cov_weather3.csv', index=False)

## Summary:

The daily climate data was to be retrieved from https://www.ncei.noaa.gov (the National Centers for Environmental Information website). This is a very large dataset that contains weather data collected from thousands of international weather stations, daily since 1880. 

First, empty lists were created to store the soon-to-be-retrieved-data. Three API calls were made to retrieve only the relevant climate data for the three US states of interest: Connecticut, Vermont, and Maine. A for loop was created within each API call in order to limit the data to those from 2020-2021. Within each for loop, only the specifically relevant climate data for each state was appended to the previously-created empty lists. For Connecticut, this relevant information included: Date, Average Temp, and Precipitation. The Vermont and Maine weather stations did not have "Average Temperature" data, so instead, for these two states we collected: Date, Min Temp, Max Temp, and Precipitation. 

Related lists were zipped together and merged into (3) dataframes of climate information by state. The 'Date' columns for each state DataFrame were converted to datetime objects. Next, "Average Daily Temperature" columns were created for the Vermont and Maine dataframes by created a new column that averaged each state's min and max temperature per day. The min and max temperature columns were then dropped. Each state's dataframe now contained 3 columns: 'Date', 'Average Temperature', and 'Precipitation.' The three states were merged together with an inner join on the date columns to form a single climate dataset. 

Next an API call was made to retrieve the COVID data from the csv file 'time_series_covid19_confirmed_US.csv'. Data concerning confirmed cases was retrieved from:

1. Hartford, Connecticut
2. Essex, Vermont 
3. Piscataquis, Maine

These were chosen as they were the the closest geographical locations to those from the climate dataset. The exact locations of the weather stations, along with their distances from the COVID locations are listed below:

1. Hartford, Connecticut: 0 miles
2. Burlington, Vermont: 7.1 miles
3. Greenville, Maine: 25.7 miles

Next, irrelevant columns were removed, so that only state and dates columns remained. 

The data was at this point in very wide format, so the dataframe was transposed into long format. Now the indices were the dates and each column pertained to a different state. The column headers were replaced with each respective state name and the indices were reset, so that date once again became its own column. The columns were renamed in preparation for the dataframe's upcoming merge with the weather dataset. The index name was removed and the date column was converted to datetime objects.

Both DataFrames were now ready to be merged together. A quick check on null values revealed that neither data set had any missing values. The name of the date column in the weather data set was changed to match that of the date column in the COVID data set and they merged on an inner join on the date column. A final check on null values revealed there was now 1 missing value in me_avg_temp and 1 missing value in me_prcp. Both these values appear to be from the same date: 2020-09-07. For now, the null values are left in the dataframe. Lastly A pandas profiling profile is created for the cov_weather DataFrame.